@import "./application.module.scss";

.search {
  width: 280px;

  &__button {
    background-color: transparent;
    padding: 0;
    color: $crl-base-text;

    &:focus {
      box-shadow: none;
      border: none;
    }
  }
}
