<div id="index-stats-content">
  <div class="flex-row justify-content:end width:100%">
    <div>Last Reset:
      {{ if .IndexStatsReset }}
        {{ formatElapsedTime (timeSub timeNow .IndexStatsReset) }}
      {{ else }}
        Never
      {{ end }}
    </div>
    <form method="post" action="/future/tables/{{ .TableID }}/reset-index-stats" style="display: inline;" hx-post="/future/tables/{{ .TableID }}/reset-index-stats" hx-target="#index-stats-content" hx-swap="outerHTML">
      <button type="submit" class="warn" onclick="return confirm('Are you sure you want to reset all index statistics for the entire cluster? This action cannot be undone.')">Reset all index stats</button>
    </form>
  </div>
  <table>
    <thead>
      <tr>
        <th>Index Name</th>
        <th>Last Read</th>
        <th>Total Reads</th>
        <th>Recommendations</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{ if eq (len .Indexes) 0 }}
      <tr>
        <td colspan="5" style="text-align: center; padding: 2rem;">
          No index statistics found for this table
        </td>
      </tr>
      {{ end }}
      {{ range .Indexes }}
      <tr>
        <td>{{ .IndexName }}</td>
        <td>
          {{ if .LastRead }}
            {{ .LastRead.Format "Jan 02, 2006 at 15:04:05 UTC" }}
          {{ else }}
            Never
          {{ end }}
        </td>
        <td>{{ .TotalReads }}</td>
        <td>{{ .Recommendation }}</td>
        <td></td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
