{{define "layout-start"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/future/assets/alpine-anchor.min.js"></script>
    <script src="/future/assets/htmx.min.js"></script>
    <script defer src="/future/assets/alpine.min.js"></script>
    <script src="/future/assets/auto-refresh.js"></script>
    <link rel=stylesheet href="/future/assets/missing.css">
    <script src="/future/assets/table-sort.js"></script>
    <script src="/future/assets/timepickers.js"></script>
    <script src="/future/assets/uPlot.iife.min.js"></script>
    <link rel="stylesheet" href="/future/assets/uPlot.min.css">
    <script src="/future/assets/metric.js"></script>
    <script type=module src="/future/assets/19.js"></script>
    <script type=module src="/future/assets/tabs.js"></script>
    <script type=module src="/future/assets/menu.js"></script>
    <link rel="stylesheet" href="/future/assets/missing-prism.min.css">
    <script src="/future/assets/prism.js"></script>
    <meta charset="utf-8">
  </head>
  <body>
    <header class="navbar margin-block-end:0 flex-column padding:0 packed">
      <div class="flex-row width:100% padding dense align-items:center">
        <img src="/future/assets/crl.svg" alt="CockroachDB Logo">
        <div class="flex-grow:2">ClusterID: {{.ClusterID}}</div>
        <div><chip class="info">{{.Tag}}</chip></div>
        {{if .Common.LicenseNotificationText}}<div><chip class="{{.Common.LicenseNotificationClass}}">{{.Common.LicenseNotificationText}}</chip></div>{{end}}
        <div>{{if .Insecure}}<chip class="bad">Insecure Mode</chip>{{end}}</div>
        </div>
      <div class="bg crowded padding text-align:center warn width:100%">
        This cluster will require a license key by November 20th, 2025 or the cluster will be throttled. Learn more
      </div>
    </header>
    <div class="sidebar-layout">
      <header>
        <nav>
          <ul role="list">
            <li><a href="/future/overview">Overview</a></li>
            <li><a href="/future/metrics">Metrics</a></li>
            <li><a href="/future/databases">Databases</a></li>
            <li><a href="/future/sqlactivity">SQL Activity</a></li>
              <ul role="list" class="margin">
                <li>Statements</li>
                <li>Transactions</li>
                <li>Sessions</li>
              </ul>
            <li>Insights</li>
            <li>Top Ranges</li>
            <li>Jobs</li>
            <li>Schedules</li>
            <li>Advanced Debug</li>
          </ul>
        </nav>
      </header>
      <main class="width:100% padding">
{{end}}

{{define "layout-end"}}
      </main>
    </div>
  </body>
</html>
{{end}}
