{{ define "table-metadata-job-info" }}
  {{ if .IsRunning }}
	<label id="database-metadata-last-refreshed"
	       hx-get="/future/databases/refresh-status"
	       hx-trigger="load delay:1s"
	       hx-swap="outerHTML">
	  Refreshing... <button type="button" disabled>Refresh</button>
	</label>
  {{ else }}
	<label id="database-metadata-last-refreshed" for=refresh>
	  Last refreshed: {{ if .LastCompletedAt }}{{ $now := timeNow }}{{ formatElapsedTime (timeSub $now .LastCompletedAt) }}{{ else }}never{{ end }}
	  <button type="button" id=refresh
	          hx-post="/future/databases/refresh"
	          hx-target="#database-metadata-last-refreshed"
	          hx-swap="outerHTML">
	    Refresh
	  </button>
	</label>
  {{ end }}
{{ end }}

{{ template "table-metadata-job-info" .Data }}
