@require '~styl/base/palette.styl'
@require '~src/views/shared/util/table.styl'

.statements-table
  &__col-query-text
    font-family monospace
    white-space pre-wrap

.statements
  &__last-hour-note
    margin-left 3px
    font-style italic
    color $body-color

.back-link
  text-decoration none
  color $link-color

.last-cleared-tooltip
  &__tooltip
    width 36px  // Reserve space for 10px padding around centered 16px icon
    height 16px
    display inline-block

  &__tooltip-hover-area
    width 100%
    padding 0px 10px

  &__info-icon
    width 16px
    height 16px
    border-radius 50%
    border 1px solid $tooltip-color
    font-size 12px
    line-height 14px  // Visual tweak to vertically center the "i"
    text-align center
    color $tooltip-color

  .hover-tooltip--hovered &__info-icon
    border-color $body-color
    color $body-color

.bar-tooltip
  &__tooptip-hover-area
    width 100%
    height 100%

.app-name
  &__unset
    color $tooltip-color
    font-style italic

.bar-chart
  width 10em
  height 1em
  margin-left 5em
  position relative

  &--breakdown
    margin-left 0

  .label
    position absolute
    left -5em
    width 4.5em
    text-align right
    top -2px

  &__bar
    display inline-block
    height 1em
    margin-left -1px

    &--dev
      position absolute
      height 0.6em
      top 0.2em

  .count-first-try
    background-color $link-color
    border-left 1px solid $link-color

  .count-retry
    background-color $alert-color
    border-left 1px solid $alert-color

  .rows
    background-color $link-color
    border-left 1px solid $link-color

  .rows-dev
    background-color lighten($link-color, 50%)
    border-left 1px solid lighten($link-color, 50%)

  .latency-parse
    background-color $alert-color
    border-left 1px solid $alert-color

  .latency-parse-dev
    background-color lighten($alert-color, 50%)
    border-left 1px solid lighten($alert-color, 50%)

  .latency-plan
    background-color $warning-color
    border-left 1px solid $warning-color

  .latency-plan-dev
    background-color lighten($warning-color, 50%)
    border-left 1px solid lighten($warning-color, 50%)

  .latency-run
    background-color $link-color
    border-left 1px solid $link-color

  .latency-run-dev
    background-color lighten($link-color, 50%)
    border-left 1px solid lighten($link-color, 50%)

  .latency-overhead
    background-color $alert-color
    border-left 1px solid $alert-color

  .latency-overhead-dev
    background-color lighten($alert-color, 50%)
    border-left 1px solid lighten($alert-color, 50%)

  .latency-overall
    background-color $body-color
    border-left 1px solid $body-color

  .latency-overall-dev
    background-color lighten($body-color, 50%)
    border-left 1px solid lighten($body-color, 50%)

.numeric-stats-table
  @extend $table-base

.details-bar
  margin 12px 0
