.badge

.badge--size-medium
.badge--size-small
.badge--size-large

.badge--status-success
.badge--status-danger
.badge--status-default
.badge--status-info
.badge--status-warning

.badge__icon
.badge__icon--position-left
.badge__icon--position-right
