// Copyright 2026 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import 'styl/base/palette.scss';

// Network latency heat map colors
$plus-2: lighten($alert-color, 10%);
$plus-1: lighten($alert-color, 50%);
$even: white;
$minus-1: lighten($healthy-color, 50%);
$minus-2: lighten($healthy-color, 10%);

.network-table {

  &__cell {
    text-align: center;
    width: 95px;

    &--header {
      background-color: $link-color;
    }

    &--header:nth-child(1) {
      width: 45px;
    }

    &--header-warning {
      color: $alert-color;
    }

    &--spacer {
      border: 0;
      background-color: $background-color;
      width: 45px;
    }

    &--self {
      background-color: $table-border-color;
    }

    &--stddev-plus-2 {
      background-color: $plus-2;
    }

    &--stddev-plus-1 {
      background-color: $plus-1;
    }

    &--stddev-even {
      background-color: $even;
    }

    &--stddev-minus-1 {
      background-color: $minus-1;
    }

    &--stddev-minus-2 {
      background-color: $minus-2;
    }

    &--no-connection {
      color: $alert-color;
    }
  }
}
