// Copyright 2018 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@require '~src/views/shared/util/table.styl'

.enqueue-range-table
  @extend $table-base

label
  display flex

.label-text
  margin-right 5px
  line-height 35px
  font-family $font-family--bold

.label-tooltip
  margin-left 10px
  line-height 35px
  font-family $font-family--base
  font-style italic

.dropdown-area
  width fit-content
  height 35px

.input-text
  border 1px solid $colors--neutral-4
  border-radius 3px
  color $colors--neutral-6
  padding-left 5px
  font-family $font-family--base

.checkbox-area
  margin-top 11px

.button-crl
  font-family $font-family--semi-bold
  height: 40px;
  min-width: 40px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: $colors--primary-purple-3;
  color: $colors--neutral-0;
  border: solid 1px $colors--primary-purple-3;
  border-radius 3px
  cursor pointer
