// Copyright 2018 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require nib
@require "~styl/base/palette.styl"

$dropdown-hover-color = darken($background-color, 2.5%)

.dropdown
  padding 7.5px 9px 7.5px 19px;
  vertical-align middle
  border 1px solid $grey-light
  border-radius 3px
  white-space nowrap
  padding-right 10px
  color $body-color
  cursor pointer
  position relative
  background #fff
  display flex
  align-items center

  .dropdown__title, .Select-value-label
    color $adminui-grey-1 !important
    font-family SourceSansPro-SemiBold
    font-size 14px
    line-height 1.71
    letter-spacing 0.1px

  &:hover
    background-color $dropdown-hover-color
  
  .Select-arrow-zone
    color $adminui-blue-1-base
    .anticon
      transform rotate(180deg)
    .active
      color $grey
  
  &._range
    width 423px
    padding 7px 9px

  &__title
    vertical-align middle
    display inline-block
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    letter-spacing 2px
    line-height 17px
  
  &__range-title
    background #e5e5e5
    width 34px
    text-align center
    border-radius 3px
    color #5f6c87
    font-size 12px
    font-family Lato-Bold
    padding 2px 0px
    display inline-block

  &__select
    display inline-block
    vertical-align middle
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    text-transform uppercase
    letter-spacing 2px
    line-height 17px

    &:hover
      background-color $dropdown-hover-color

  &__side-arrow
    font-family Lato-Bold
    display none
    color $adminui-grey-1
    cursor pointer
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select: none;
    user-select: none;

    &:first-child
      border-right 1px solid $button-border-color
      padding 12px 24px
      border-top-left-radius 4px
      border-bottom-left-radius 4px

    &:last-child
      border-left 1px solid $button-border-color
      padding 12px 24px
      border-top-right-radius 4px
      border-bottom-right-radius 4px

    &--disabled
      background-color $table-border-color
      cursor auto

      polyline
        stroke $button-border-color

  &--side-arrows
    padding 0

    &:hover
      background-color transparent

    .dropdown__side-arrow
      display inline

      &:hover
        background-color $dropdown-hover-color
.dropdown.full-size
  .Select-menu-outer, .Select-menu
    max-height 450px

.dropdown__palette--blue
  background transparent
  border 1px solid transparent
  border-radius 3px
  padding 8px 5px 8px 11px
  &:hover
    background transparent
    .dropdown__title, .trigger .Select-value-label, .Select-arrow-zone
      color $colors--primary-blue-4 !important
  .trigger
    padding 0
    .Select-value-label
      margin 0
    .Select
      justify-content flex-start
  .dropdown__title, .trigger .Select-value-label
    font-family SourceSansPro-SemiBold
    font-size 14px
    line-height 1.71 !important
    letter-spacing 0.1px
    color $colors--primary-blue-3 !important
    text-transform inherit
  .Select-placeholder, .trigger .Select-value-label, .trigger .Select-control
    padding-left 2px
    padding-right 2px
    text-transform capitalize
  .Select-arrow-zone
    color $colors--primary-blue-3
    vertical-align inherit
    margin-top -2px
  .Select-control > *:last-child
    padding-right 0
  .dropdown__select
    &:hover
      background transparent
  .trigger-wrapper
    position relative
  .dropdown-options
    display flex
    flex-direction column
    position absolute
    border-radius 4px;
    box-shadow 0 0 4px 0 rgba(154, 161, 171, 0.33);
    border solid 0.5px $colors--neutral-2
    background-color $colors--neutral-0
    top 35px
    .option
      padding 10px 16px
      min-width 142px
      font-family SourceSansPro-Regular
      font-size 14px
      line-height 1.57
      letter-spacing 0.1px
      color $colors--neutral-7
      &:hover
        background $colors--primary-blue-3
        color $colors--neutral-0
    .selected
      background rgba($colors--primary-blue-3, 0.7)
      color $colors--neutral-0
.dropdown__palette--blue.focused
  border 1px solid $colors--primary-blue-3

// NOTE: react-select styles can be found in styl/shame.styl
