@import '../core/index.module';

.bar-chart {
  height: 14px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  > span {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &__multiplebars {
    width: calc(100% - 75px);
    border-radius: 3px;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__label {
    position: relative;
    font-family: $font-family--base;
    font-size: $font-size--medium;
    line-height: 1.83;
    color: $colors--neutral-8;
    width: 75px;
  }

  &__bar {
    display: inline-block;
    height: 13px;
    border-radius: 3px;
    flex-shrink: 10;

    &--dev {
      position: absolute;
      height: 3px;
    }
  }

  .count-first-try, .count-total, .count-retry, .count-max-retries {
    border-radius: 3px;
    position: absolute;
    left: 40px;
  }

  .count-first-try, .count-total {
    background-color: $colors--neutral-4;
  }
  .count-retry, .count-max-retries {
    background-color: $colors--alert;
  }

  .rows, .rows-read, .bytes-read, .max-mem-usage, .network-bytes {
    background-color: $colors--neutral-4;
    border-radius: 3px;
  }

  .rows-dev, .rows-read-dev, .bytes-read-dev, .contention-dev, .max-mem-usage-dev, .network-bytes-dev {
    background-color: $colors--primary-blue-3;
  }

  .bar-chart {
    &__parse, &__plan, &__run, &__overhead, &__overall {
      background-color: $colors--neutral-4;
    }
  }

  &-red {
    .bar-chart {
      &__parse, &__plan, &__run, &__overhead, &__overall {
        background-color: $colors--functional-red-2;
      }
    }
  }

  &__parse-dev, &__plan-dev, &__run-dev, &__overhead-dev, &__overall-dev {
    background-color: $colors--primary-blue-3;
  }
}
