// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

font-face('SourceSansPro-Bold')
font-face('SourceSansPro-Regular')
font-face('SFMono-Semibold')
font-face('SFMono-Regular')
font-face('RobotoMono-Medium')

$font-family--base = SourceSansPro-Regular
$font-family--bold = SourceSansPro-Bold
$font-family--semi-bold = SourceSansPro-SemiBold
$font-family--monospace = SFMono-Regular, RobotoMono-Medium

$font-weight--extra-bold = 900
$font-weight--bold = 600
$font-weight--medium = 500
$font-weight--light = 400

$font-size--xx-large = 28px
$font-size--x-large = 24px
$font-size--large = 20px
$font-size--tall = 16px
$font-size--medium = 14px
$font-size--small = 12px

$line-height--xx-large = 64px
$line-height--x-large = 48px
$line-height--larger = 40px
$line-height--large = 32px
$line-height--medium = 24px
$line-height--medium-small = 22px
$line-height--small = 20px
$line-height--x-small = 16px
$line-height--xx-small = 14px

$letter-spacing--medium = .02em
$letter-spacing--compact = .01em

$spacing-base = 8px
$spacing-xx-small = 4px
$spacing-x-small = 8px
$spacing-smaller = 12px
$spacing-small = 16px
$spacing-medium-small = 20px
$spacing-medium = 24px
$spacing-mid-large = 28px
$spacing-large = 32px
$spacing-x-large = 40px
$spacing-xx-large = 48px

$text--heading-1
  font-family $font-family--base
  font-size $font-size--xx-large
  line-height $line-height--xx-large
  font-weight $font-weight--light

$text--heading-2
  font-family $font-family--base
  font-size $font-size--x-large
  line-height $line-height--x-large
  font-weight $font-weight--bold

$text--heading-3
  font-family $font-family--base
  font-size $font-size--large
  line-height $line-height--large
  font-weight $font-weight--medium
  margin-bottom 0

$text--heading-5
  font-family $font-family--base
  font-size $font-size--tall
  line-height $line-height--medium
  font-weight $font-weight--bold

$text--heading-6
  font-family $font-family--base
  font-size $font-size--small
  line-height $line-height--x-small
  font-weight $font-weight--medium
  text-transform uppercase

$text--heading-7
  font-family $font-family--semi-bold
  font-size $font-size--x-large
  line-height $line-height--x-large
  font-weight $font-weight--bold

$text--body
  font-family $font-family--base
  font-size $font-size--medium
  line-height $line-height--medium
  font-weight $font-weight--light

$text--body-strong
  font-family $font-family--base
  font-size $font-size--medium
  line-height $line-height--medium
  font-weight $font-weight--bold

$text--code
  font-family $font-family--monospace
  font-size $font-size--medium
  line-height $line-height--medium
  font-weight $font-weight--medium

$text--code--bold
  font-family $font-family--monospace
  font-size $font-size--small
  line-height $line-height--medium
  font-weight $font-weight--bold