/**
Copyright 2015 The Cockroach Authors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
implied. See the License for the specific language governing
permissions and limitations under the License.
*/

@require nib

@require 'utils/*'

@require 'base/layout-vars.styl'
@require 'base/palette.styl'
@require 'base/typography.styl'
@require 'base/reset.styl'

@require 'layout/layout.styl'
@require 'layout/navigation-bar.styl'

@require 'pages/cluster.styl'
@require 'pages/databases.styl'
@require 'pages/jobs.styl'
@require 'pages/nodes.styl'
@require 'pages/queryplan.styl'
@require 'pages/reports.styl'
@require 'pages/command_queue.styl'

@require 'shame.styl'

@require 'css/icons.css'
