.replica-matrix
  background-color white
  border-collapse collapse

  thead
    border-bottom 1px solid black

  th, td
    padding 5px
    border-left 1px solid lightgrey
    border-right 1px solid lightgrey

  td.table-name
    text-align left

  td.value
    text-align center
