@require '~styl/base/palette.styl'

.queries-table
  &__col-query-text
    font-family monospace
    white-space pre-wrap

.queries-screen
  &__last-hour-note
    margin-left 3px
    font-style italic
    color $body-color
