@require '~styl/base/palette.styl'

.queries-table
  &__col-query-text
    font-family monospace
    white-space pre-wrap

.queries-screen
  &__last-hour-note
    margin-left 3px
    font-style italic
    color $body-color

.bar-chart
  width 10em
  height 1em
  margin-left 5em
  position relative

  .label
    position absolute
    left -5em
    width 4.5em
    text-align right
    top -2px

  &__bar
    display inline-block
    height 100%

  .count-first-try
    background-color $link-color
  .count-retry
    background-color $alert-color
  .rows
    background-color $link-color
  .latency-parse
    background-color $alert-color
  .latency-plan
    background-color $warning-color
  .latency-run
    background-color $link-color
  .latency-overhead
    background-color $alert-color
