// Copyright 2022 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "../core/index.module";

.popup-content {
  .icon {
    font-size: 13px;
    margin-right: 3px;
  }

  .return-to-preset-options-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;

    a {
      // Matches the color of .crdb-ant-dropdown, needed to override default anchor color. A cleaner way would be to install
      // and set up antd-scss-theme-plugin, and use the antd text-color variable.
      color: rgba(0, 0, 0, 0.65);
    }
  }

  .label {
    display: block;
  }

  .divider {
    height: 12px;
  }

  :global(.crdb-ant-picker) {
    margin-right: 14px;
  }
}

.popup-footer {
  margin-top: 24px;
  text-align: right;
  button {
    margin-left: 8px;
  }
}

.date-picker {
  height: $spacing-x-large;
  width: 290px;
}

.time-picker {
  height: $spacing-x-large;
  width: 150px;
}

.alert {
  margin-top: $spacing-smaller;
}
