# See http://editorconfig.org

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# For non-go files, we indent with two spaces. In go files we indent
# with tabs but still set indent_size to control the github web viewer.
indent_size=2

# Override default spacing rules for .opt files.
[*.opt]
indent_style = space
indent_size = 4

# Makefiles are broken without using actual tabs for indentation.
[Makefile]
indent_style = tab
