[submodule "vendor"]
	path = vendor
	url = https://github.com/cockroachdb/vendored
[submodule "c-deps/jemalloc"]
	path = c-deps/jemalloc
	url = https://github.com/cockroachdb/jemalloc.git
[submodule "c-deps/rocksdb"]
	path = c-deps/rocksdb
	url = https://github.com/cockroachdb/rocksdb.git
[submodule "c-deps/snappy"]
	path = c-deps/snappy
	url = https://github.com/cockroachdb/snappy.git
	ignore = untracked
[submodule "c-deps/protobuf"]
	path = c-deps/protobuf
	url = https://github.com/cockroachdb/protobuf.git
[submodule "c-deps/cryptopp"]
	path = c-deps/cryptopp
	url = https://github.com/cockroachdb/cryptopp.git
[submodule "c-deps/googletest"]
	path = c-deps/googletest
	url = https://github.com/cockroachdb/googletest
