# Editor or environment-specific entries should not be committed to the
# repository but can be kept in git's global configuration:
#
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore
#
# To initialize a global gitignore which combines all of Github's per-language
# gitignore templates, run the following:
#
# (cd $(mktemp -d) &&
#   git clone https://github.com/github/gitignore . &&
#   git ls-files '*.gitignore' | xargs cat >> ~/.gitignore_global &&
#   git config --global core.excludesfile ~/.gitignore_global)

.bootstrap
/cockroach
/cockroach-data
/cockroach-darwin*
/certs
# make stress
stress.test
# Various `sed -i~` invocations in our scripts.
*~
