# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*~
.#*
*.test

# Log Files
*.ERROR
*.ERROR.*
*.INFO
*.INFO.*
*.WARNING
*.WARNING.*
*.FATAL
*.FATAL.*

# Folders
_obj
_test
certs

Architecture specific extensions/prefixes
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

.DS_Store

/cockroach
*.swp

# That file is present in the cockroach-dev Docker container, required to avoid
# untracked files.
cockroach.sh

.bootstrap
