[submodule "c-deps/jemalloc"]
	path = c-deps/jemalloc
	url = https://github.com/cockroachdb/jemalloc.git
[submodule "c-deps/krb5"]
	path = c-deps/krb5
	url = https://github.com/cockroachdb/krb5.git
[submodule "c-deps/geos"]
	path = c-deps/geos
	url = https://github.com/cockroachdb/geos.git
[submodule "c-deps/proj"]
	path = c-deps/proj
	url = https://github.com/cockroachdb/PROJ.git
