required = [
 "github.com/golang/dep/cmd/dep",
 "github.com/client9/misspell/cmd/misspell",
 "github.com/cockroachdb/crlfmt",
 "github.com/cockroachdb/stress",
 "github.com/golang/lint/golint",
 "github.com/google/pprof",
 "github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway",
 "github.com/jteeuwen/go-bindata/go-bindata",
 "github.com/kisielk/errcheck",
 "github.com/mattn/goveralls",
 "github.com/mdempsky/unconvert",
 "github.com/mibk/dupl",
 "github.com/wadey/gocovmerge",
 "golang.org/x/perf/cmd/benchstat",
 "golang.org/x/tools/cmd/goimports",
 "golang.org/x/tools/cmd/goyacc",
 "golang.org/x/tools/cmd/stringer",
]

ignored = [
  # Non-existent package used by a toy program in c-deps/protobuf.
  "github.com/google/protobuf/examples/tutorial"
]

# https://github.com/cockroachdb/raven-go/pulls/1 avoids banned go/build import.
[[constraint]]
  name = "github.com/getsentry/raven-go"
  revision = "221b2b44fb33f84ed3ea13f3aed62ff48c85636b"
  source = "https://github.com/cockroachdb/raven-go"

# The collation tables must never change.
[[constraint]]
  name = "golang.org/x/text"
  revision = "470f45bf29f4147d6fbd7dfd0a02a848e49f5bf4"

# https://github.com/docker/docker/issues/29362
[[constraint]]
  name = "github.com/docker/docker"
  revision = "7248742ae7127347a52ab9d215451c213b7b59da"

# TODO(dt,mjibson): API changed
[[constraint]]
  name = "github.com/Azure/azure-sdk-for-go"
  revision = "8dd1f3ff407c300cff0a4bfedd969111ca5a7903"

[[constraint]]
  name = "github.com/chzyer/readline"
  source = "https://github.com/cockroachdb/readline"
  branch = "master"

[[constraint]]
  name = "github.com/coreos/etcd"
  branch = "master"
