[project]
	description = A Scalable, Geo-Replicated, Transactional Datastore
[access "refs/*"]
	owner = group user/Spencer Kimball (spencerkimball)
[access "refs/for/refs/*"]
	read = group user/Spencer Kimball (spencerkimball)
	push = group user/Spencer Kimball (spencerkimball)
	label-Code-Review = -2..+2 group user/Spencer Kimball (spencerkimball)
	label-Verified = -1..+1 group user/Spencer Kimball (spencerkimball)
	rebase = group user/Spencer Kimball (spencerkimball)
	removeReviewer = group user/Spencer Kimball (spencerkimball)
	submit = group user/Spencer Kimball (spencerkimball)
[access "refs/heads/*"]
	read = group user/Spencer Kimball (spencerkimball)
	create = group user/Spencer Kimball (spencerkimball)
	push = +force group user/Spencer Kimball (spencerkimball)
	pushMerge = group user/Spencer Kimball (spencerkimball)
[access "refs/tags/*"]
	push = +force group user/Spencer Kimball (spencerkimball)
	pushTag = group user/Spencer Kimball (spencerkimball)
	pushSignedTag = group user/Spencer Kimball (spencerkimball)
