@require nib
@require "~styl/base/palette.styl"

.metric-table-dropdown
  line-height 17px
  padding 6px 12px
  vertical-align middle
  border-radius 2px
  padding-right 10px
  color $body-color

  &:hover
    background-color $dropdown-hover-color

  &__title
    vertical-align middle
    display inline-block

  &__select
    display inline-block
    vertical-align middle
    white-space nowrap

    &:hover
      background-color $dropdown-hover-color

.metric-edit-button
    padding 3px 9px
    margin 0px 9px

    &--add
      margin 17px 9px

.metric-table
  &__header
    background white
    padding 10px 20px
    font-family Lato-Regular
    font-size 12px
    font-weight bold
    letter-spacing 2px
    text-transform uppercase
    text-align left
    color $body-color

    &--no-title
      background inherit
      padding 0

  &__cell
    text-align center

