// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

.metric-option
  max-width 500px

.metric-option__label
  color #394455

.metric-option__description
  color #7e89a9
  font-size 12px
  text-overflow ellipsis
