// Copyright 2018 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require "~styl/base/palette.styl"
@require "~src/components/core/index.styl"

.locality-table
  width 100%
  border 1px solid $table-border-color
  border-collapse collapse
  font-family $font-family--base
  font-weight 300
  font-size 14px
  vertical-align top
  white-space nowrap
  color $body-color

  thead
    tr
      background-color white
      padding 20px
      font-size 12px
      font-weight bold
      letter-spacing 2px
      text-transform uppercase
      text-align left

      td, th
        padding 18px 20px
        color $tooltip-color

  tr
    letter-spacing 0.33px
    background-color white

  tbody
    tr:nth-child(2n+1)
      background-color $background-color

  td, th
    padding 10px 20px
    border-right 1px solid $table-border-color

  .parent-location
    color #aaa
