// Copyright 2021 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "../core/index.module";

._text-bold {
  color: $colors--primary-blue-3;
  font-family: $font-family--monospace;

  &-light {
    color: $colors--primary-blue-7;
  }
}
