// Copyright 2021 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@require "~src/components/core/index"

.hotranges-heading-container
  display flex
  justify-content space-between
  margin-top 16px

.light-anchor
  color $colors--primary-blue-2
  &:hover
    color $colors--primary-blue-2

.hotranges-dropdown-filter
  width max-content
  margin-top $line-height--x-small
