// Copyright 2018 The Cockroach Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
// implied. See the License for the specific language governing
// permissions and limitations under the License.

@require "~styl/base/palette.styl"

.events
  font-family Lato-Regular
  table
    width 100%
    border-collapse collapse
    tr
      height 39px
      border-bottom 1px solid $table-border-color
      &:last-child
        border 0
    td
      padding-left 0

.events__message
  font-size 14
  color $body-color
  text-overflow ellipsis
  display block
  white-space nowrap
  overflow hidden
  width 180px

.events__timestamp
  font-size 12
  color $tooltip-color
  margin-left 20px
  text-align right

.events__more-link
  text-align center
  color $link-color
  font-family Lato-Bold
  text-transform uppercase
  font-size 12px
  letter-spacing 2px
  cursor pointer

  a
    color $link-color
    text-decoration none
