// Copyright 2022 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "src/core/index.module";

.crl-hover-text {
  font-size: 12px;
  color: white;

  &__dashed-underline {
    color: inherit;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: inherit;
    cursor: default;
  }

  &__link-text {
    color: inherit;
    font-size: inherit;
    font-weight: 600;
    text-decoration: underline;

    &:hover {
      color: inherit;
      opacity: 0.7;
      text-decoration: underline;
    }
  }
}

.bool-setting-icon {
  &__enabled {
    fill: $colors--success;
    margin-right: 8px;
    height: 10px;
    width: 10px;
  }

  &__disabled {
    fill: $colors--disabled;
    margin-right: 8px;
    height: 10px;
    width: 10px;
  }
}
