@import "src/core/index.module";

.crl-hover-text {
  font-size: 12px;

  &__dashed-underline {
    color: inherit;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: inherit;
    cursor: default;
  }

  &__link-text {
  color: inherit;
  font-size: inherit;
  }
}

.bool-setting-icon {

  &__enabled {
    fill: $colors--success;
    margin-right: 8px;
    height: 8px;
    width: 8px;
  }

  &__disabled {
    fill: $colors--disabled;
    margin-right: 8px;
    height: 8px;
    width: 8px;
  }
}

