#banner
  max-height 58px

.banner
  width 100%
  background-color $alert-red
  transition height .2s ease-in, opacity .2s ease-in
  font-family Lato-Bold
  font-size 16px
  text-align left
  line-height 58px
  color $light-blue
  position absolute
  left 104px
  top 24px
  height 58px
  width 1286px
  z-index 10
  border-radius 4px
  border-color rgba(241, 105, 105, .1)
  box-shadow 0 0 5px rgba(0, 0, 0, .1)
  padding-left 25px
  overflow hidden

  &.expanded
    height 58px

  &.hidden
    height 0
    visibility hidden

  button
    margin-left 15px
    background-color $secondary-gold
    height 33px
    text-shadow 1px 1px rgba(0, 0, 0, .24)
    &:hover
      background-color $secondary-gold-2

  .checkmark, .warning
    font-size 15px
    margin-right 15px
    border-radius 100%
    border 2px solid white
    width 38px
    height 38px
    padding 5px 5px 5px 7px

  .warning
    border 0
    vertical-align middle
    position relative
    top 2px

  .close
    position absolute
    top 0
    right 3rem
    font-family Lato-Bold
