#banner
  max-height 73px

.banner
  width 100%
  background-color $secondary-blue
  transition height .2s ease-in, opacity .2s ease-in
  font-family Lato-Medium
  font-size 13px
  text-align center
  line-height 73px
  color white
  position absolute
  z-index 10

  &.expanded
    height 73px

  &.hidden
    height 0
    visibility hidden

  &.disconnected
    background-color $secondary-salmon

  button
    margin-left 15px
    background-color $secondary-gold
    height 33px
    text-shadow 1px 1px rgba(0, 0, 0, .24)
    &:hover
      background-color $secondary-gold-2

  .checkmark, .icon-warning
    font-size 15px
    margin-right 15px
    border-radius 100%
    border 2px solid white
    width 38px
    height 38px
    padding 5px 5px 5px 7px

  .icon-warning
    color $secondary-gold
    border 0
    vertical-align middle

  .close
    position absolute
    top 0
    right 3rem
