// The last visualization tooltip should be above and to the left to avoid running off the page.
div.charts
  div:last-child, div:nth-child(4)
    .visualization-wrapper .tooltip
      right 15%
      left auto
      bottom 100%
      top auto
