/**
Copyright 2015 The Cockroach Authors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
implied. See the License for the specific language governing
permissions and limitations under the License.
*/

$subnav-background  = $background-color

.page
  position relative
  display flex
  flex-direction column
  height 100vh
  min-width 100%
  padding-left $nav-width

  &:after
    content ""
    display table
    clear both

.page-config
  padding-top 12px
  padding-bottom 12px
  padding-left 24px
  z-index $z-index-page-config
  position relative

  &--fixed
    background-color $background-color
    border-bottom 1px solid $table-border-color

  &__list
    clearfix()

  &__item
    float left
    list-style none
    margin-right 2rem

.header
  flex 0 0 auto
  color $headings-color
  font-size 24px
  padding 24px 24px 12px
  text-transform uppercase
  font-family Lato-Bold
  letter-spacing 5px

.header--subsection
  text-transform none
  letter-spacing 0

.l-columns
  clearfix()
  min-width 1360px

.l-columns__left
  float left
  width 930px

.l-columns__right
  float left
  width 380px

.page.help-us
  height 100%
  background-color white

.section
  flex 1 1 auto
  padding 12px 24px
  max-width 1350px
  clearfix()

.parent-link a
  color $link-color
  font-size 13px
  font-family Lato-Regular
  text-transform uppercase
  text-decoration none
  letter-spacing 2px

#content
  position relative

.optin-text
  font-size 10px
  margin -17px 28px 20px
  line-height 1.8rem

.page.events
  .section
    padding 154px 0 0
  .event-table-container
    .table-header
      display none


.section
  .node-info, .store-info
    padding 0 0 20px

    h1
      padding-left 0

    .stats-table td
      border 0

  &.logs
    span
      margin 5px
    input:not([type=checkbox])
      width 100px
      height 20px
      margin 5px

  .num-ranges
    font-size 16px
    margin-bottom 2rem

div.raft-filters
  label, b
    margin 5px

  label
    cursor pointer

    input[type="checkbox"]
      margin 5px

.table-stats
  margin-bottom 50px
