@import "src/core/index.module";

.status-icon {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 4px;
}

.waiting {
  fill: $colors--warning;
}

.executing {
  fill: $colors--success;
}

.preparing {
  fill: $colors--success;
}

.timed-out {
  fill: $colors--warning;
}

.canceled {
  fill: $colors--warning;
}

.failed {
  fill: $colors--warning;
}

.completed {
  fill: $colors--success;
}
