// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require "~styl/base/palette.styl"

.empty-container
  width 100%
  height 192px
  padding $spacing-large 0 $spacing-large $spacing-large
  background $adminui-white
  position relative
  h2, p
    font-family SourceSansPro-Regular
    position relative
    z-index 2
  h2.empty-container__title
    padding 0
    font-weight normal
  &__title
    color $colors--neutral-8
    font-size 20px
    letter-spacing -0.2px
    line-height 1.6
  &__description
    color $colors--neutral-6
    margin-top 8px
    font-size 14px
    letter-spacing 0.1px
    line-height 1.57
    max-width 600px
  .empty-container__button
    margin-top 10px
    background-color $colors--primary-green-3
    padding 8.5px 11px
    color $colors--neutral-0
    border none
    height auto
    border-radius 3px
    font-family SourceSansPro-SemiBold
    font-size 14px
    text-transform none
    line-height 1.71
    letter-spacing 0.1px
    margin 0
    &:hover, &:focus, &:active
      background-color $colors--primary-green-4
  &__background
    position absolute
    right 0
    top 0
    height 100%
    z-index 1
