// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require "~styl/base/palette.styl"

.empty-container
  width 100%
  min-height 192px
  padding 35px 0 35px 37px
  background $adminui-white
  position relative
  h2, p
    font-family SourceSansPro-Regular
    color $adminui-grey-1
  &__title
    font-size 20px
    letter-spacing -0.2px
    line-height 1.6
    margin-bottom 6px
  &__description
    font-size 14px
    letter-spacing 0.1px
    line-height 1.57
    margin-bottom 29px
  .empty-container__button
    background-color $green
    color $adminui-white
    border none
    padding 8px 15px 0
    height 40px
    border-radius 3px
    font-family SourceSansPro-SemiBold
    font-size 14px
    text-transform none
    line-height 1.71
    letter-spacing 0.1px
    margin 0
    &:hover, &:focus, &:active
      background-color $green
      opacity 0.7
      color $adminui-white !important
  &__background
    position absolute
    right 0
    top 0
    height 100%
