// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

$spacing-base = 8px
$spacing-xx-small = 4px
$spacing-x-small = 8px
$spacing-small = 16px
$spacing-medium = 24px
$spacing-large = 32px
$spacing-x-large = 40px
$spacing-xx-large = 48px
