// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

// colors shortcuts
$colors--title = $colors--neutral-8
$colors--primary-text = $colors--neutral-7
$colors--secondary-text = $colors--neutral-6
$colors--disabled = $colors--neutral-5
$colors--link = $colors--primary-blue-3
$colors--white = $colors--neutral-0
$colors--background = $colors--neutral-1
$colors--warning = $colors--functional-orange-3
$colors--alert = $colors--functional-red-3

// Neutral colors
$colors--neutral-0 = #ffffff
$colors--neutral-1 = #F5F7FA
$colors--neutral-2 = #e7ecf3
$colors--neutral-3 = #d6dbe7
$colors--neutral-4 = #c0c6d9
$colors--neutral-5 = #7e89a9
$colors--neutral-6 = #475872
$colors--neutral-7 = #394455
$colors--neutral-8 = #242a35
$colors--neutral-9 = #060c12
$colors--neutral-10 = #0c1628
$colors--neutral-11 = #C4C4C4

// Primary and brand colors
$colors--primary-blue-1 = #e0eefb
$colors--primary-blue-2 = #74bdfd
$colors--primary-blue-3 = #0055FF
$colors--primary-blue-4 = #005fb3
$colors--primary-blue-5 = #00294d

$colors--primary-green-0 = #daf8d4
$colors--primary-green-1 = #b4f1aa
$colors--primary-green-2 = #76de49
$colors--primary-green-3 = #37a806
$colors--primary-green-4 = #237300
$colors--primary-green-5 = #123d00

$colors--primary-purple-2 = #CBBCFC
$colors--primary-purple-3 = #6933FF

$colors--info-4 = #0037a5

// Functional colors
$colors--functional-purple-1 = #cec0f2
$colors--functional-purple-2 = #8c6be1
$colors--functional-purple-3 = #8c6be1
$colors--functional-purple-4 = #8c6be1
$colors--functional-purple-5 = #190033

$colors--functional-red-1 = #ffe5e8
$colors--functional-red-2 = #ff808c
$colors--functional-red-3 = #ff3b4e
$colors--functional-red-4 = #c32534
$colors--functional-red-5 = #99000f

$colors--functional-yellow-1 = #fff4c8
$colors--functional-yellow-2 = #ffe066
$colors--functional-yellow-3 = #ffcd02
$colors--functional-yellow-4 = #cca300
$colors--functional-yellow-5 = #655b04

$colors--functional-orange-1 = #fef1da
$colors--functional-orange-2 = #ffd099
$colors--functional-orange-3 = #ffa53b
$colors--functional-orange-4 = #b26000
$colors--functional-orange-5 = #764205
