// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require '~styl/base/palette.styl'
@require '~styl/base/layout-vars.styl'

$subnav-background  = $background-color

.page
  position relative
  display flex
  flex-direction column
  height 100vh
  min-width 100%
  padding-left $nav-width
  padding-bottom 5px

  &:after
    content ""
    display table
    clear both

.page-config
  padding-left 24px
  background-color $background-color

  &__list
    display flex
    justify-content flex-start
    align-items center

    .page-config__item
      margin-right 24px

  &__spread
    display flex
    justify-content space-between
    align-items center

  &__item
    list-style none

.l-columns
  display flex
  margin 0 -5px

.l-columns__left
  flex 3
  padding 0 5px

.l-columns__right
  flex 1
  padding 0 5px

.page.help-us
  height 100%
  background-color white

.section
  flex 0 0 auto
  padding 12px 24px
  max-width $max-window-width
  clearfix()

  &--heading
    padding-top 0
    padding-bottom 0

  &--container
    padding 0 24px 0 0

.parent-link a
  color $link-color
  font-size 14px
  font-family $font-family--base
  font-weight bold
  text-transform uppercase
  text-decoration none
  letter-spacing 2px

#content
  position relative

.optin-text
  font-size 10px
  margin -17px 28px 20px
  line-height 1.8rem

.page.events
  .section
    padding 154px 0 0
  .event-table-container
    .table-header
      display none


.section
  .node-info, .store-info
    padding 0 0 20px

    h1
      padding-left 0

    .stats-table td
      border 0

  &.logs
    span
      margin 5px
    input:not([type=checkbox])
      width 100px
      height 20px
      margin 5px

  .num-ranges
    font-size 16px
    margin-bottom 2rem

div.raft-filters
  label, b
    margin 5px

  label
    cursor pointer

    input[type="checkbox"]
      margin 5px

.table-stats
  margin-bottom 50px
