// Copyright 2022 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@require '~src/components/core/index.styl'

.virtual-cluster-selected
    color $colors--neutral-7
    padding-right 6px
    font-weight 600
    font-size 14px
    font-family $font-family--semi-bold

.tenant-switcher
    display flex
    align-items center
    gap 8px
    
.tenant-display-container
    display flex
    align-items center
    gap 8px
    
.tenant-input-container
    display flex
    align-items center
    gap 8px
    
.tenant-input
    height $line-height--larger
    padding 0 $spacing-small
    border 1px solid $colors--neutral-4
    border-radius 3px
    font-size $font-size--medium
    min-width 120px
    box-sizing border-box
    
    &:focus
        outline none
        border-color $colors--primary-5
