@import 'src/core/index.module';

.statements-table__col-time {
  white-space: nowrap;
}

.statements-table__col-count--bar-chart {
  width: 100px;
}

.statements-table__col-retries--bar-chart {
  width: 80px;
}

.numeric-stats-table {
  .bar-chart {
    width: 200px;
  }
}

.statements-table__col-rows, .statements-table__col-latency {
  &--bar-chart {
    min-width: 150px;
  }
}

.statements-table__col-count, .statements-table__col-retries, .statements-table__col-rows {
  &--bar-chart {
    margin-left: 0;

    &__label {
      left: 0;
      width: 40px;
      min-width: 40px;
    }
  }
}

.cl-table__col-query-text a {
  font-family: $font-family--monospace;
  font-size: 12px;
  width: 400px;
  div {
    font-size: $font-size--small;
  }
}
