// Copyright 2026 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "styl/base/palette.scss";

$dropdown-max-width: 500px;

.metric-option {
  max-width: $dropdown-max-width;
}

.metric-option__label {
  color: $text-color;
}

.metric-option__description {
  color: $secondary-text-color;
  font-size: 12px;
  text-overflow: ellipsis;
}
