// Copyright 2022 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "src/core/index.module";

:global {
  @import "uplot/dist/uPlot.min";
}

.bargraph {
  height: 100%;
  :global(.uplot) {
    display: flex;
    flex-direction: column;
    :global(.u-legend) {
      text-align: left;
      font-size: 10px;
      margin-top: 20px;
      z-index: 1;
      width: fit-content;
      padding: 10px;
      :global(.u-series) {
        :global(.u-marker) {
          display: inline-block;
        }
        :global(.u-label) {
          color: $headings-color;
        }
      }
    }
  }
}
