# NPM node modules
node_modules
npm.installed

# Bower components
bower_components
bower.installed

# jspm packages
jspm_packages
jspm.installed

# Typescript definitions
typings
typings.installed

# Generated intermediates
/build/*
