# Do not add environment-specific entries here (see the top-level .gitignore
# for reasoning and alternatives).
#
# NPM
node_modules
npm.installed

# JSPM
jspm_packages
jspm.installed

# Typings
typings
typings.installed

# Generated intermediates
build/
