// Copyright 2018 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@require "~styl/base/palette.styl"
@require "~src/components/core/index.styl"

.timescale
  display flex

.trigger
  height 100%
  align-items center
  padding-left 15px
  text-transform uppercase
  letter-spacing 2px
  line-height 17px

.time-range
  margin-left 15px
  color $button-border-color
  font-size 12px
  font-family $font-family--base
  &__time, &__date
    color $body-color
