// Copyright 2018 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require "~styl/base/palette.styl"
@require "~src/components/core/index.styl"

.alert-box
  clearfix()
  display flex
  width 100%
  float left
  margin 0 0 10px
  padding 20px
  border 1px solid $headings-color
  border-radius 5px
  font-family $font-family--base

  &__icon
    flex 0

  &__content
    flex 1
    margin-left 20px

  &__dismiss
    flex 0

  &__title
    font-weight bold
    padding-right 25px

  &__link
    text-decoration none
    color inherit
    cursor pointer

  &--notification
    color $body-color
    border-color $notification-info-border-color
    background-color $notification-info-fill-color

  &--warning
    color $body-color
    border-color $notification-warning-border-color
    background-color $notification-warning-fill-color

  &--critical
    color $body-color
    border-color $notification-alert-border-color
    background-color $notification-alert-fill-color
