// Copyright 2026 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "styl/base/palette.scss";

.info-box {
  margin-top: 20px;
  padding: 10px;
  padding-left: 26px;
  background-color: $info-box-fill-color;
  border-left: 5px solid $info-box-border-color;
  max-width: 560px;

  h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: $info-box-heading-color;
  }

  p {
    margin-top: 10px;
    color: $body-color;
  }

  a {
    text-decoration: none;
    color: $link-color;
  }
}
