// Copyright 2018 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require '~styl/base/palette.styl'

.embedded-table .sort-table
  border-left none
  border-right none
  
  .sort-table__cell
    &:last-child
      border-right none

.bar-chart__label
  font-family Lato-Regular
  font-size 12px
  font-weight 300
  fill $body-color

.bar-chart__label.total
  fill #cfd2dc


// The following rule is for Chrome, the height attribute applied
// from JavaScript is for Firefox.
.bar-chart__bar.used
  height 5px
  fill $link-color

.node-status-icon
  display inline-block
  margin-right 6px
  line-height 16px
  vertical-align middle
  width 16px
  height 16px

.node-status-icon > svg
  width 16px
  height 16px
