// Copyright 2018 The Cockroach Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
// implied. See the License for the specific language governing
// permissions and limitations under the License.

@require '~styl/base/palette.styl'

.embedded-table .sort-table
  border-left none
  border-right none

  .sort-table__cell:last-child
    border-right none

.bar-chart__label
  font-family Lato-Regular
  font-size 12px
  font-weight 300
  fill $body-color

.bar-chart__label.total
  fill #cfd2dc


// The following rule is for Chrome, the height attribute applied
// from JavaScript is for Firefox.
.bar-chart__bar.used
  height 5px
  fill $link-color

.node-status-icon
  display inline
  padding-right 9px
  font-size 6px
  line-height 14px
  vertical-align middle

  &--dead
    color $alert-color
  &--suspect
    color $warning-color
  &--decommissioning
    color $warning-color
  &--healthy
    color $healthy-color
