// Copyright 2018 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require '~styl/base/palette.styl'
@require '~src/views/shared/util/table.styl'

.sort-table
  @extend $table-base

  &__row--header
    // Display the sort direction arrow in header cells.
    .sort-table__cell
      padding 18px 20px
      color $tooltip-color

      &--sortable:after
        display inline-block
        width 20px
        line-height 12px
        font-size 10px
        vertical-align middle
        text-align center
        content "▼"

      &--descending
        color $body-color

      &--ascending
        color $body-color
        &:after
          content "▲"

  &__unbounded-column
    white-space normal
    word-break break-all

  &__row
    border-top 1px solid transparent
    &.drawer-active
      border 1px solid #3a7ce1
      .sort-table__cell
        &:last-child
          border-right 1px solid #3a7ce1
    &--expandable
      border-top: none
      cursor pointer

    &--expanded-area
      background-color #E2E5EE !important // TODO(vilterp): palette-ize

  &__cell__expansion-control
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    div
      width 15px
