// Copyright 2019 The Cockroach Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
// implied. See the License for the specific language governing
// permissions and limitations under the License.

.user-avatar
  height 40px
  width 40px
  border-radius 50%
  background-color #e0eefb
  color: #0788ff
  font-size 14px
  font-weight bold
  line-height 40px
  letter-spacing 0.1px
  margin auto

.user-avatar:hover
  border solid 2px #0788ff
  line-height 36px

.user-avatar--disabled
  background-color #e7ecf3
  color #7e89a9

.user-avatar--disabled:hover
  border none
  line-height 40px
