// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

.user-avatar
  height 40px
  width 40px
  border-radius 50%
  background-color #e0eefb
  color: #0788ff
  font-size 14px
  font-weight bold
  line-height 40px
  letter-spacing 0.1px
  margin auto

.user-avatar:hover
  border solid 2px #0788ff
  line-height 36px

.user-avatar--disabled
  background-color #e7ecf3
  color #7e89a9

.user-avatar--disabled:hover
  border none
  line-height 40px
