// Copyright 2021 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "src/core/index.module";

.custom-menu {
  padding: 12px;
}

.caret-down {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Range {
  width: 100%;
  height: 43px;
  display: flex;
  position: relative;
}

.trigger-container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 98;
  background-color: transparent;
}

.trigger-wrapper {
  width: 100%;

  .trigger-button {
    min-width: 285px;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.range-selector {
  background-color: white;
  box-shadow: 0 0 4px 0 rgba(154, 161, 171, 0.33);
  border: solid 0.5px $colors--neutral-2;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: default;
  z-index: 99;
  &.__options {
    width: 423px;
    padding: 12px 9px;
  }
  & > div {
    display: flex;
    flex-direction: column;
  }

  ._title {
    color: $body-color;
    font-family: $font-family--bold;
    font-size: 12px;
    margin-bottom: 7.5px;
    letter-spacing: 0.1px;
  }

  ._time-button {
    text-align: left;
    padding: 0;
    margin: 0;

    &:hover {
      .__option-label {
        color: $colors--primary-blue-3;
      }
    }

    .__option-label {
      color: $colors--neutral-7;
      font-family: $font-family--base;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.1px;
      text-transform: none;
      vertical-align: middle;
    }

    .active {
      .__option-label {
        font-family: $font-family--base;
        color: $colors--primary-blue-3;
      }
    }
  }
}

.trigger {
  padding-top: 8px;
  padding-bottom: 8px;
  ._label-time {
    font-size: 13.5px;
    font-family: $font-family--bold;
  }
}

.Select {
  display: flex;
  justify-content: space-between;
  .Select-value-label {
    margin-right: 10px;
    font-family: $font-family--base;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: $colors--neutral-7;
    text-transform: initial;
    &__sufix {
      color: $colors--secondary-text;
    }
  }
}

._quick-view {
  width: 100%;
}

.range-calendar {
  width: 248px;
  border-radius: 4px;
  border: solid 1px $colors--neutral-3;
  margin-bottom: 20px;
  .calendar-today-btn {
    width: 100%;
    height: 40px;
    border-top: solid 1px $colors--neutral-3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .calendar-month-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    span {
      font-family: $font-family--bold;
      color: $colors--neutral-7;
      font-size: 14px;
      letter-spacing: 0.1px;
      line-height: 1.57;
    }
    button {
      color: $colors--neutral-5;
      width: auto;
      padding: 0 15px;
      margin: 0 10px;
      &:hover {
        color: $colors--primary-blue-3;
      }
    }
  }
  table {
    height: auto;
    display: flex;
    flex-direction: column;
    tr {
      display: flex;
      justify-content: space-between;
    }
    th,
    td {
      width: 32px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .crdb-ant-fullcalendar-calendar-body {
    padding: 8px 16px;
    .crdb-ant-fullcalendar-column-header {
      font-family: $font-family--bold;
      font-size: 12px;
      line-height: 2;
      letter-spacing: 0.1px;
    }
    .crdb-ant-fullcalendar-tbody {
      .crdb-ant-fullcalendar-cell {
        .crdb-ant-fullcalendar-value {
          width: 24px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1.5px 4.95px;
          font-family: $font-family--base;
          font-size: 12px;
          line-height: 1.83;
          letter-spacing: 0.1px;
          padding: 0;
          color: $colors--neutral-7;
          &:hover {
            background: $background-color;
          }
        }
        &.crdb-ant-fullcalendar-selected-day {
          .crdb-ant-fullcalendar-value {
            background: $colors--primary-blue-1;
            color: $colors--primary-blue-3;
            &:hover {
              background: #e0efff;
              color: $colors--primary-blue-3;
            }
          }
        }
        &.crdb-ant-fullcalendar-disabled-cell {
          background: $background-color;
          color: $colors--neutral-5;
          .crdb-ant-fullcalendar-value {
            background: $background-color;
            color: $colors--neutral-5;
          }
          &:hover {
            background: $background-color;
            color: $colors--neutral-5;
          }
        }
        &.crdb-ant-fullcalendar-today {
          &:hover {
            background: transparent;
          }
          .crdb-ant-fullcalendar-value {
            width: 24px;
            height: 24px;
            box-shadow: none;
            border: 1px solid $colors--primary-blue-3;
            color: $colors--primary-blue-3;
            &:hover {
              font-family: $font-family--bold;
              background: $colors--primary-blue-1;
            }
          }
          &.crdb-ant-fullcalendar-selected-day {
            .crdb-ant-fullcalendar-value {
              background: $colors--primary-blue-1;
              &:hover {
                background: #e0efff;
              }
            }
          }
          &.crdb-ant-fullcalendar-disabled-cell {
            &:hover {
              background: $background-color;
            }
            .crdb-ant-fullcalendar-value {
              font-family: $font-family--bold;
              color: $colors--neutral-5;
              background: $background-color;
              border: 1px solid $colors--neutral-5;
              &:hover {
                background: $background-color;
              }
            }
          }
        }
      }
    }
  }
}

.range__range-title {
  margin-right: 10px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  background: $colors--neutral-3;
  width: 34px;
  text-align: center;
  border-radius: 3px;
  color: $colors--neutral-7;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-family: $font-family--bold;
}
