@import "src/core/index.module";

.timescale {
  display: flex;
  width: 590px;
}

.trigger {
  height: 100%;
  align-items: center;
  padding-left: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 17px;
}

.time-range {
  margin-left: 15px;
  color: $button-border-color;
  font-size: 12px;
  font-family: $font-family--base;
  &__time,
  &__date {
    color: $body-color;
  }
}
