// Copyright 2021 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "src/core/index.module";

.timescale {
  display: flex;
  width: 590px;
}

.trigger {
  height: 100%;
  align-items: center;
  padding-left: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 17px;
}

.time-range {
  margin-left: 15px;
  color: $button-border-color;
  font-size: 12px;
  font-family: $font-family--base;
  &__time,
  &__date {
    color: $body-color;
  }
}

.time-label {
  font-family: $font-family--base;
  font-size: $font-size--medium;
  padding: 0px;
  margin: 0px;
  color: $colors--neutral-6;
  line-height: $line-height--large;
  letter-spacing: 0.1px;
  .bold {
    font-family: $font-family--bold;
    color: $colors--neutral-7;
  }
  .warning-icon-area {
    margin-bottom: -3px;
    margin-right: 2px;
  }
}

.label-margin {
  margin-top: 5px;
}

.label-no-margin-bottom {
  margin-bottom: -10px;
}
