// Copyright 2021 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

// TODO(davidh): Remove this rule once the legend display
// is redesign for uPlot. Currently it takes up a lot of
// space below the graph so the last graph needs to make
// extra room for it.
.metricsPage
  margin-bottom: 600px