// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require "~styl/base/palette.styl"

.empty-state
  display flex
  justify-content center
  align-items center
  min-height 157px
  flex-direction column

  &__line
    margin 12px

.table-icon
  position relative
  top 3px
  right 2px

.sort-table__cell a 
  color: $text-color;
  &:hover
    color: $link-color;

.table-name a
  display flex
  align-items center
  width 100%
  height 100%
  svg
    margin-right 11px
  &:hover
    path
      fill $colors--primary-blue-3

.database-summary-title
  display flex

.database-summary-load-button
  margin-left 11px
