/**
Copyright 2015 The Cockroach Authors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
implied. See the License for the specific language governing
permissions and limitations under the License.

Author: Matt Tracy (matt@cockroachlabs.com)
*/

@require 'typography.styl'
@require '../modules/layout-vars.styl'
@require '../modules/palette.styl'

$topbar-border      = $secondary-gray-1
$last-updated-color = $secondary-gray-2
$subnav-background  = $secondary-gray-3

*
  margin 0
  padding 0
  box-sizing border-box

html
body
  height 100%
  min-width 1480px
  background-color $secondary-gray-4

#root
  position relative
  padding-left $nav-width
  min-height 100% // TODO or calc(100% - 4rem)
  min-width 100%

  &:after
    content ""
    display table
    clear both

#content
  min-height 100%

.page.registration
  height 100%
  background-color white

.section
  padding 1rem 2rem

  &:after
    content ""
    display table
    clear both

  .topbar + &
    padding-top $top-bar-height + 10px
    width 100%

  .nav + &
    padding-top $top-bar-height + $subnav-height + 10px

  &.table
    margin 0
    padding 0

  h1
    font-family Lato-Medium
    font-size 23px
    color $main-navy
    margin-top 10px
    margin-bottom 10px
    font-weight normal

  .header
    width 100%
    height 88px
    background-color $secondary-gray-4
    margin -20px -20px 0 -20px
    padding 40px 30px
    border-bottom 1px solid $secondary-gray-1
    h1
      font-size 19px
      line-height 19px
      padding 0
      margin 0

  .form
    padding 40px 30px
    width 440px
    font-size 13px

    hr
      border 1px solid $secondary-gray-8
      margin 40px 0

input
  border-radius 5px
  border 1px solid $secondary-gray-1
  padding 15px 20px
  font-size 13px
  font-family Lato-Bold
  margin-bottom 25px

  &:placeholder-shown
    font-style italic

  &:not([type=checkbox])
    width 100%
    height 40px

  &[type=checkbox]
    display inline
    margin-right 15px
    padding-bottom 0
    margin-bottom 25px

  &:invalid
    border-color $secondary-red-2
  &:invalid + span.status:after
      content "Required"
  &:invalid + * + span.icon:after
    content "\26A0"

span.status
  position absolute
  margin-left -55px
  margin-top 10px
  color $secondary-red-3

span.icon
  margin-top 10px
  color $secondary-red-4
  position absolute
  margin-left 5px

button
  width 100px
  height 45px
  border-radius 2px
  border 0
  background-color $secondary-blue
  color white
  font-family Lato-Bold
  font-size 16px
  margin-right 20px

  &.right
    float right

.topbar
  padding 0 3rem 1rem
  background-color white
  border-bottom 1px solid $topbar-border
  height $top-bar-height
  width "calc(100% - %s)" % $nav-width
  position absolute
  top 0
  right 0
  z-index 1

  h2
    font-size 3.6rem
    font-family Lato-Medium
    color $main-navy
    line-height $top-bar-height
    padding-top 0
    margin-top 0
    display inline-block

  img
    position relative
    top 8px

  .health
    font-variant small-caps
    display block

    span.health-icon
      display inline-block
      padding 0 3px
      height 21px
      border-radius 100%

    .icon-check-circle
      color $main-green
    .icon-x
      color $secondary-red
    .icon-skull
      background-color $secondary-gray-11
      color white

    *
      display inline

    .unreachable-text
      position relative
      top -3px
      font-variant normal
      font-family Lato-Medium
      color $secondary-gray-2

  .info-container
    display inline-block
    margin-left 25px

    .last-updated
      font-size 1.1rem
      font-family Lato-Medium
      color $last-updated-color
    .health
      font-family Lato-Bold
      div
        margin-left 10px
        position relative
        top 3px
        span.refreshing-text
          color $secondary-gray-2
          font-variant none

    strong
      font-family Lato-Bold

.page .nav
  padding 0 3rem 1rem
  background-color $subnav-background
  text-transform uppercase
  letter-spacing 2.17px
  border-bottom 1px solid $secondary-gray-1
  height $subnav-height
  position absolute
  top $top-bar-height
  right 0
  width "calc(100% - %s)" % $nav-width
  z-index 1

.sql-table
  margin 20 20

a.toggle
  font Lato-Bold
  font-size 1rem
  color $secondary-light-gray

.status
  font-size 9px
  &.missing
    color $secondary-red
  &.stale
    color $secondary-gold
  &.healthy
    color $main-green

.charts h2
  clear both
  padding-top 15px

.charts h2:first-child
  padding-top 0

.banner
  width 100%
  height 73px
  background-color $secondary-blue
  transition height 1s
  font-family Lato-Bold
  font-size 13px
  text-align center
  line-height 73px
  color white
  position relative

  button
    margin-left 15px
    background-color $secondary-gold
    height 33px
    text-shadow 1px 1px rgba(0, 0, 0, .24)

  .checkmark
    font-size 15px
    margin-right 15px
    border-radius 100%
    border 2px solid white
    width 38px
    height 38px
    padding 5px 5px 5px 7px

  .close
    position absolute
    top -27px
    right 5px

.modal-container
  z-index 10

  &.close
    .screen, .modal
      transition opacity .2s ease-in
      opacity 0

  .screen
    position fixed
    top 0
    left 0
    bottom 0
    right 0
    background-color rgba(21, 31, 52, .8)
    z-index 10

  .modal
    position absolute
    width 575px
    height 790x
    background-color white
    top 20px
    z-index 20
    left 50%
    margin-left -287.5px
    border 8px solid rgba(21, 31, 52, .4)
    box-shadow 0 2px 4px rgba(0, 0, 0, .5)
    border-radius 4px
    background-clip padding-box
    padding 30px
    opacity 1
    transition height .4s ease-in, width .4s ease-in, opacity .2s ease-in, margin .4s ease-in

    &.hide-modal
      opacity 0

    &.thanks, &.thanks-pre
      width 500px
      height 375px
      margin-left -250px

    &.thanks
      button
        margin-left 52px

    h1, .intro, .thanks, button, form
      transition opacity .2s ease-in

    &.hide, &.thanks-pre
      h1, .intro, .thanks, button, form
        opacity 0
        transition opacity .2s ease-in


    h1
      color $secondary-gold
      margin-bottom 5px
      margin-top 35px
      width 100%
      text-align left
      font-size 33px

    .intro
      color $main-navy
      margin 35px 15px
      line-height 18px

    .thanks
      margin 35px 52px

      a
        color $main-navy

    .inputs
      background-color $secondary-gray-3
      margin 0 -30px
      padding 35px 35px
      border-top 1px solid $secondary-gray-1
      border-bottom 1px solid $secondary-gray-1

    .close
      position absolute
      top 30px
      right 30px
      color $secondary-gray-9

    button
      margin 35px 65px
      width auto
      padding 10px
      margin-left 81px

#content
  position relative

.saving
  display inline
  font-family Lato-Medium
  color $secondary-gray-2
  transition opacity .5s ease-in
  opacity 0
  &.no-animate
    transition opacity 0s
  &.failed
    opacity 1

.optin-text
  font-size 10px
  margin -17px 35px 20px

.event-table-container
    background-color white
  .table-header
    padding 15px
    border-top 1px solid $secondary-gray-1
    button, h1
      margin 0
      padding 0
      display inline
      margin-right 20px
    button.toggled, button.untoggled
      border 2px solid $secondary-blue
      height auto
      width auto
      padding 5px
      font-size 12px
    button.untoggled
      background-color white
      color $secondary-blue

  .icon-info-filled
    color $main-green
    border-radius 100%
    border 1px solid $secondary-green-1
    width 18px
    height 18px
    padding 0
    margin 0
    line-height 0

  .timestamp
    font-family Lato-Bold
    font-size 11px
    color $secondary-gray-10

.page.events
  .section
    padding 154px 0 0
  .event-table-container
    .table-header
      display none


.section
  .node-info, .store-info
    padding 0 0 20px 0

    h1
      padding-left 0

    .stats-table td
      border 0

  &.logs
    span
      margin 5px
    input:not([type=checkbox])
      width 100px
      height 20px
      margin 5px
