/**
Copyright 2015 The Cockroach Authors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
implied. See the License for the specific language governing
permissions and limitations under the License.

Author: Max Lang (max@cockroachlabs.com)
*/

@require '../modules/palette.styl'

$viz-top = 30px
$viz-bottom = 65px
$viz-sides = 62px

.visualization-wrapper
  display inline-flex
  background-color white
  border 1px solid $secondary-gray-1
  // prevents borders from doubling up
  margin-left -1px
  margin-top -1px
  flex-direction column
  justify-content space-between
  align-items stretch
  width 316px
  height 289px
  position relative

  .linegraph
    padding 0
    height 175px

.viz-top
  height $viz-top
  display block

.viz-info-icon
  float right
  margin 10px 15px 0 0
  color $secondary-gray-5
  
  .icon-warning
    color $secondary-gold

.viz-bottom
  height $viz-bottom

  .viz-title
    width 100%
    text-align center
    font-family Lato-Heavy
    font-size 11px
    text-transform uppercase
    letter-spacing 2px
    color $secondary-light-gray

.visualization
  height 100%
  width 100%
  padding 0 $viz-sides
  display flex
  align-items center

  .number
    font-family Lato-Light
    font-size 7.2rem
    color $main-green
    width 100%
    text-align center
    display block

.nvd3 text
  opacity .6
  font-size 10px

.small
  .visualization-wrapper
    width 253px
    height 250px
  &.half
    .visualization-wrapper
      height 180px
      .linegraph
        height 105px

.viz-faded
  .visualization .number
  .nv-group
  .nv-areaWrap
    opacity .2
