@import "../core/index.module";

.apply-btn {
  &__wrapper {
  text-align: end;
  }

  &__btn {
    height: $line-height--large;
    width: 67px;
    font-size: $font-size--small;
  }
}

.checkbox {
    &__input {
        margin-right: 5px;
    }
    &__label {
        cursor: pointer;
    }
}

.dropdown {
    position: relative;
    &__indicator {
        color: $colors--neutral-11;
        height: $line-height--medium;
        width: 32px;
    }
}

.float {
    float: left;
    margin-right: 7px;
}

.label {
      height: 16px;
      font-family: $font-family--base;
      font-weight: $font-weight--bold;
      font-size: $font-size--small;
      line-height: $line-height--small;
      letter-spacing: 0.3px;
      font-style: normal;
      margin-bottom: 8px;
      margin-left: 10px;
}

.menu {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(154, 161, 171, 33%);
    margin-top: 8px;
    position: absolute;
    z-index: 2;
}