// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@require "~src/components/core/index.styl"

.breadcrumbs
  font-weight $font-weight--bold
  &__icon
    padding-right $spacing-xx-small
    position relative
    top 2px
  &__link
    @extends $text--body
    color $colors--link
  &__separator
    color $colors--link
