// Copyright 2021 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

.root {
  display: flex;
  align-items: center;

  &__icon {
    &--lg {
      margin-right: 48px;
    }

    &--md {
      margin-right: 18px;
    }

    &--s {
      margin-right: 12px;
    }

    &--xs {
      margin-right: 9px;
    }

    &--xxs {
      margin-right: 6px;
    }
  }
}
