// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@require '~src/components/core/index.styl'

.tooltip-overlay
  .crdb-ant-tooltip-content
    .crdb-ant-tooltip-inner
      @extend $text--body
      line-height $line-height--small
      padding $spacing-x-small $spacing-small
      color $colors--white
      background $colors--neutral-8
    .crdb-ant-tooltip-arrow
      color $colors--neutral-8

.tooltip-overlay.crl-tooltip--theme-blue
  .crdb-ant-tooltip-content
    .crdb-ant-tooltip-inner
      background $colors--neutral-6
    .crdb-ant-tooltip-arrow
      color $colors--neutral-6

.tooltip__table--title
  font-family $font-family--base
  font-weight 600
  font-size $font-size--small
  line-height $line-height--small
  letter-spacing 0.3px
  color $colors--neutral-0
  a
    color $colors--neutral-0
    text-decoration underline
    &:hover
      opacity 0.7
      color $colors--neutral-0
  code
    font-family $font-family--monospace
    line-height $line-height--medium
    color $colors--neutral-8
    background $colors--neutral-4 
    border-radius 3px
    padding 2px 5px
