// Copyright 2022 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "src/core/index.module";

.insight-type {
  font-weight: $font-weight--bold;
  border-bottom: 1px dashed $colors--neutral-5;
  &--warning {
    color: $colors--functional-orange-4;
  }
  &--danger {
    color: $colors--functional-red-4;
  }
  &--info {
    color: $colors--info-4;
  }
}

.action {
  color: $colors--link;
  display: flex;
  line-height: $line-height--medium;
  &:hover {
    color: $colors--link;
    text-decoration: underline;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.queries-row {
  border-bottom: 1px dashed $colors--neutral-5;
}
