// Copyright 2021 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require nib
@require "~styl/base/palette.styl"
@require "~src/components/core/index.styl"


.info-tooltip
  &__tooltip
    width 36px  // Reserve space for 10px padding around centered 16px icon
    height 16px

  &__tooltip-hover-area
    width 100%
    padding 0px 10px

  &__info-icon
    width 16px
    height 16px
    border-radius 50%
    border 1px solid $tooltip-color
    font-size 12px
    line-height 14px  // Visual tweak to vertically center the "i"
    text-align center
    color $tooltip-color

  .hover-tooltip--hovered &__info-icon
    border-color $body-color
    color $body-color