.clusterviz .dropdown
  border none
  padding 0px 12px

  .dropdown__side-arrow
    display none
    border none
    padding 6px 12px

  .dropdown__title
    padding 6px 0

  .Select
    padding 6px 0 6px 12px !important

  .Select-arrow-zone
    width 12px
    padding-right 0

  .Select-value
    padding-left 0

  &.dropdown--side-arrows
    padding-right 0

    .Select
      border-radius 4px
      padding 6px 12px !important

    .Select-arrow-zone
      display table-cell
