// Copyright 2021 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "../core/index.module";

.checkbox {
  &__input {
    margin-right: 5px;
  }
  &__label {
    cursor: pointer;
    display: initial;
    font-family: $font-family--lato-regular;
    font-size: $font-size--medium;
    font-weight: normal;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
  }
}
