// Copyright 2020 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

._text-bold
  color #0055FF
  font-family RobotoMono-Bold

._text-bold-light
  color #B6CEFF
  font-family RobotoMono-Bold
