// Copyright 2018 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require '~src/components/core/index.styl'

.tooltip-wrapper
  :global(.ant-tooltip-arrow)
    width 20px
    height 20px
    &::before
      background-color: $colors--neutral-0
      width 20px
      height 20px
      border: solid 1px #e7ecf3;
      box-shadow: none;

:global(.ant-tooltip).tooltip__preset--white
  max-width 500px
  :global(.ant-tooltip-inner)
    padding 10px
    border-radius 3px
    border solid 1px $colors--neutral-2
    box-shadow 0 4px 4px 0 rgba(0, 0, 0, 0.15)
    background rgba($colors--neutral-0, .98)
    font-family $font-family--base
    text-align left
    color $colors--neutral-6
