@import "./index.module.scss";

html {
  font-size: $font-size--medium;
}

body {
  line-height: $line-height--small;
  font-size: $font-base-size;
  font-family: Lato-Regular;
  font-weight: $font-weight--light;
}

h1.base-heading {
  font-size: 24px;
  font-family: SourceSansPro-Regular;
}

h2.base-heading {
  padding: 12px 0;
  font-size: 24px;
  font-family: SourceSansPro-Regular;
}

code {
  font-family: $font-family--monospace;
}
