// Copyright 2018 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require "~styl/base/palette.styl"

.box-highlight
  font-family Inconsolata-Regular
  padding 20px
  width 100%
  margin-bottom 10px
  min-height 282px;
  white-space pre-wrap
  background-color $headings-color
  .table-target
    color $popover-border-color
    &:hover
      text-decoration underline

.sql-highlight.hljs
  color $popover-border-color
  overflow-x auto
  font-family RobotoMono-Medium
  font-size 12px
  font-weight 500
  line-height 1.83
  white-space pre-wrap
  word-wrap break-word
  .hljs-string
    color $syntax-string-color

  .hljs-keyword
  .hljs-literal
  .hljs-attribute
  .hljs-built_in
    color $light-blue

.ant-tooltip.hljs
  .ant-tooltip-content
    width 535px
  .ant-tooltip-inner, .sql-highlight.hljs
    background-color #242a35
  .ant-tooltip-inner
    padding 8px
  .sql-highlight.hljs
    padding 0
    margin 0