@require "~styl/base/palette.styl"

.sql-highlight
  font-family Inconsolata-Regular
  padding 20px
  width 100%
  margin-bottom 10px

.sql-highlight.hljs
    background-color $headings-color
    color white
    overflow-x auto

    .hljs-string
        color $syntax-string-color

    .hljs-keyword
    .hljs-literal
        color $syntax-keyword-color
