// Copyright 2018 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require "~styl/base/palette.styl"

.box-highlight
  font-family Inconsolata-Regular
  padding 20px
  width 100%
  margin-bottom 10px
  min-height 282px;
  white-space pre-wrap
  background-color $colors--neutral-10
  .table-target
    color $popover-border-color
    &:hover
      text-decoration underline

.sql-highlight.hljs
  color $colors--neutral-2
  overflow-x auto
  font-family SFMono-Semibold
  font-size 14px
  line-height: 1.57;
  white-space pre-wrap
  word-wrap break-word
  .hljs-label
    padding-left 8px
  .hljs-keyword
    color $colors--functional-purple-1

  .hljs-string
  .hljs-built_in
    color $colors--functional-orange-3

.ant-tooltip.hljs
  .ant-tooltip-content
    width 535px
  .ant-tooltip-inner, .sql-highlight.hljs
    background-color $colors--neutral-8
  .ant-tooltip-inner
    padding 8px
  .sql-highlight.hljs
    padding 0
    margin 0

.higlight-divider
  width 100%
  height 1px
  border-bottom 1px dashed #475872
  margin 15px 0