// Copyright 2026 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "styl/base/palette.scss";
@import "src/components/core/index.scss";


.info-tooltip {
  &__tooltip {
    color: $tooltip-color;
    display: inline-block;
    font-family: $font-family--base;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
    vertical-align: middle;
  }

  &__tooltip-hover-area {
    width: 100%;
    padding: 0px 10px;
  }

  &__info-icon {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid $tooltip-color;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    cursor: default;
    color: $tooltip-color;
  }

  .hover-tooltip--hovered &__info-icon {
    border-color: $body-color;
    color: $body-color;
  }
}
