// Copyright 2024 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@require "~src/components/core/index.styl"

.container
  display flex
  flex-direction row
  font-family $font-family--base
  align-items center
  cursor default
  font-size 14px
  line-height 22px
  margin-right 24px
  .icon
    width 16px
    height 16px
    display flex
    justify-content center
    align-items center
    border-radius 16px
    margin-right 8px
  b
    font-family $font-family--semi-bold


a.tooltip-link
  color white
  font-weight bold
  border-bottom-width 1px
  border-bottom-style dashed
  border-bottom-color inherit

.content
  border-bottom-width 1px
  border-bottom-style dashed
  border-bottom-color inherit

