// Copyright 2021 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@import "src/core/index.module";

.tab-area {
  padding-bottom: 80px;
}

.database-table-page {
  &__indexes {
    &--value {
      text-align: right;
    }
  }
}

.summary-card {
  h4 {
    @include text--body-strong;
    color: $colors--neutral-7;
  }

  p {
    @include text--body;
  }
}

.icon {
  &__container {
    display: inline-flex;
    align-items: center;
  }

  &--md {
    height: 24px;
    width: 24px;
    margin-right: 12px;
  }

  &--xxs {
    height: 8px;
    width: 8px;
  }

  &--title {
    fill: $colors--title;
  }

  &--primary {
    fill: $colors--primary-text;
  }
}

.index-stats {
  &__summary-card {
    width: fit-content;
    padding: 0;
  }

  &__header {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 24px 0;
  }

  &__clear-info {
    display: flex;
    flex-direction: row;
  }

  &__last-cleared {
    color: "#475872";
    margin-right: 6px;
  }

  &__clear-btn {
    border-bottom: none;
    text-decoration: none;
  }

  &-table {
    &__col {
      &-indexes {
        width: 30em;
      }
      &-last-used {
        width: 30em;
      }
    }
  }
}


.icon {
  &--s {
    height: 16px;
    width: 16px;
    margin-right: 10px;
  }

  &--primary {
    fill: $colors--primary-text;
  }
}

