$read-color = lightgreen
$write-color = pink

.command-queue svg
  background-color white

.command-queue__timestamp
  margin-top 20px

.command-queue__key
  margin-top 10px

.command-queue__key div
  display inline-block
  padding 5px

.command-queue__key__read
  background-color $read-color
  margin-left 5px
  margin-right 5px

.command-queue__key__write
  background-color $write-color

.command-queue
  table
    border-collapse collapse

  table, th, td
    border 1px solid black
  
  td
    padding 5px

.command-queue__node
  stroke black
  cursor pointer

  &.selected
    stroke red

  &.read
    fill $read-color

  &.write
    fill $write-color
