.database-summary
  margin-bottom 24px

.database-summary-title
  text-align left

hr
  border-left none
  border-right none
  border-bottom none
  border-top 1px solid $tooltip-color

  margin-top 20px
  margin-bottom 20px
