.database-summary
  clearfix()

.database-summary-title
  font-size 24px
  margin 1em 0
  text-align left

.section.databases
  max-width 1350px
  .content
    float left
    width 70%
    table
      width 100%
  .summary
    width calc(30% - 48px)
    float left
    background-color white
    margin 0 24px
    padding 24px
    border-radius 5px

    .summary-item
      margin-bottom 12px

    .summary-title
      font-size 12px

    .summary-value
      font-size 30px
