.jobs-table
  &__row
    &--paused .rc-progress-line-path
      stroke $tooltip-color

    &--failed
      & + &  // Match two adjacent failed rows.
        border-top 1px solid $table-border-color

  &__cell--description
    font-family Inconsolata-Regular
    max-width 500px
    white-space normal
    word-wrap break-word

  &__progress-bar
    padding-right .7em
    width 120px

  &__duration
    font-style italic

  &__status
    text-transform capitalize

.jobs-page
  display flex
  flex-flow column
  height 100%

.no-results
  display flex
  align-items center
  justify-content center
  height 100%
