.node-status-icon
  display inline
  padding-right 9px
  font-size 6px
  line-height 14px
  vertical-align middle
  
  &--dead
    color $alert-color
  &--suspect
    color $warning-color
  &--decommissioning
    color $warning-color
  &--healthy
    color $healthy-color
