.node-overview
  .stats-table
    table
      td, th
        &:first-child
          width: calc(45px - 3rem)

.section.node, .section.nodes
  .charts
    width $chart-width

    h2
      clear both
      padding-top 15px

      &:first-child
        padding-top 0
