.node-status-icon
  display inline
  padding-left 9px
  font-size 6px
  line-height 14px
  vertical-align middle
  
  &--dead
    color $secondary-red
  &--suspect
    color $secondary-gold
  &--healthy
    color $main-green
