$reports-table
  margin 0 0 40px
  display table
  width 100%

  &__row
    display table-row
    background-color $table-border-color

    &--header
      font-weight 900
      color white
      border 0

  &__cell
    padding 6px 12px
    display table-cell
    height 20px
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    max-width 200px
    border-width 1px 1px 0 0
    border-color rgba(0, 0, 0, .1)
    border-style solid

    &--short
      max-width 1px

.failure-table
  @extend $reports-table

  &__row
    alternating-background white $table-border-color

    &&--header
      background-color $alert-color

  &__cell
    white-space normal


.problems-table
  @extend $reports-table

  &__row
    background-color white

  &__cell
    white-space normal

