@require "~styl/base/palette.styl"

.state-json-box
  background-color white
  padding 10px 20px

.copy-to-clipboard-span
  display inline-block
  padding 10px 0
  cursor pointer
  text-transform uppercase
  color $link-color

  &--copied
    text-transform none
