@require "~styl/base/palette.styl"
@require "~styl/layout/layout.styl"

.page
  padding-top 0

  &>.section
    padding 18px 24px

  &> div > .section
    padding 18px 24px

.database-summary-title h2
  padding-top 0

.page-config
  padding-top 0
  padding-bottom 0

.cluster-overview
  .cluster-summary
    background-color white
    padding-top 24px
    padding-bottom 24px
    padding-left 24px
    padding-right 24px
    margin-top 0
    margin-left 24px
    margin-right 24px
    border 1px solid $table-border-color

    display grid
    align-items end
    grid-template-columns 6fr 8fr 6fr 8fr 2fr 6fr 6fr 6fr 2fr 6fr 10fr 6fr
    grid-template-rows repeat(3, auto)
    grid-template-areas "cap-t cap-t cap-t cap-t . live-t live-t live-t . rep-t rep-t rep-t" "cap-m cap-c cap-c cap-c . live-a live-b live-c . rep-a rep-b rep-c" "cap-a1 cap-a2 cap-a3 cap-a4 . live-1 live-2 live-3 . rep-1 rep-2 rep-3"

    .capacity-usage
      &.cluster-summary__title
          grid-area cap-t

      &.cluster-summary__chart
          grid-area cap-c

      &.cluster-summary__metric.storage-percent
          grid-area cap-m

      &.cluster-summary__label.storage-used
          grid-area cap-a1

      &.cluster-summary__metric.storage-used
          grid-area cap-a2

      &.cluster-summary__label.storage-usable
          grid-area cap-a3

      &.cluster-summary__metric.storage-usable
          grid-area cap-a4

    .node-liveness
      &.cluster-summary__title
          grid-area live-t

      &.cluster-summary__metric.live-nodes
          grid-area live-a

      &.cluster-summary__metric.suspect-nodes
          grid-area live-b

      &.cluster-summary__metric.dead-nodes
          grid-area live-c

      &.cluster-summary__label.live-nodes
          grid-area live-1

      &.cluster-summary__label.suspect-nodes
          grid-area live-2

      &.cluster-summary__label.dead-nodes
          grid-area live-3

    .replication-status
      &.cluster-summary__title
          grid-area rep-t

      &.cluster-summary__metric.total-ranges
          grid-area rep-a

      &.cluster-summary__metric.under-replicated-ranges
          grid-area rep-b

      &.cluster-summary__metric.unavailable-ranges
          grid-area rep-c

      &.cluster-summary__label.total-ranges
          grid-area rep-1

      &.cluster-summary__label.under-replicated-ranges
          grid-area rep-2

      &.cluster-summary__label.unavailable-ranges
          grid-area rep-3

    &__title
      font-weight bold
      font-size 20px
      margin-bottom 20px

    &__metric
      font-size 30px
      line-height 64px
      color $link-color
      white-space nowrap

      &.warning
        color $warning-color

      &.alert
        color $alert-color

      &.storage-used, &.storage-usable
        font-size 18px
        line-height 21px

    &__label
      font-size 12px
      font-weight 500
      line-height 18px
      padding-top 10px
      text-transform uppercase
      color $tooltip-color
      letter-spacing 2px

  .capacity-usage.cluster-summary__chart
    align-self start
    position relative

    svg
      position absolute
      shape-rendering crispEdges
      margin-left -20px
      margin-top 10px

    .axis path
      fill none
      stroke none

    .axis line
      fill none
      stroke #7382a2
      shape-rendering crispEdges

    .axis text
      font-size 12px
      fill #7382a2

    .axis .tick:nth-child(2n) text
      display none

    rect
      shape-rendering crispEdges

      &.bg-normal
        fill #e2e5ee

      &.bg-low-disk-space
        fill #cfd2dc

      &.bar
        fill $link-color
