@require "~styl/base/palette.styl"
@require "~styl/layout/layout.styl"

.cluster-overview
  /* TODO(couchand): Update the layout styles to get rid of this hack. */
  margin-top -1 * $page-padding-top

  .cluster-summary
    background-color white
    color gray
    display flex

    .cluster-summary__section
      flex 1
      display flex
      flex-direction column
      justify-content space-between

      .cluster-summary__section--title
        font-weight 400

      .cluster-summary__section--metrics
        display flex

        .cluster-summary__metric
          flex 1
          display flex
          flex-direction column-reverse

          .label
            flex 1
            font-size 11px
            line-height 14px
            text-transform uppercase
            padding-top 7px

          .value
            flex 1
            font-size 30px
            line-height 48px
            color $link-color

      .cluster-summary__section--details
        flex 1
        display flex
        flex-direction column
        justify-content space-between

        .value
          color $link-color

        .cluster-summary__chart
          .value
            font-size 30px
            line-height 48px
            margin-right 14px

        .cluster-summary__aside
          .label
            text-transform uppercase
            margin-right 14px

  .cluster-summary__chart
    display flex

    .axis path
      fill none
      stroke none

    .axis line
      fill none
      stroke gray
      shape-rendering crispEdges

    .axis text
      font-size 12px
      fill gray

    rect
      shape-rendering crispEdges

      &.bg
        fill lightgray

      &.bar
        fill $link-color
