/**
Copyright 2015 The Cockroach Authors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
implied. See the License for the specific language governing
permissions and limitations under the License. See the AUTHORS file
for names of contributors.

Author: Matt Tracy (matt@cockroachlabs.com)
*/

// -tone-range generates a set of tones based on a lightest and darkest color.
// 'x-light' will be the lightest color, 'x-dark' the darkest, 
// with 'base' a 50% mix.
-tone-range($lightest, $darkest)
  return {
    'x-light': $lightest,
    'light': mix($lightest, $darkest, 75%),
    'base': mix($lightest, $darkest),
    'dark': mix($lightest, $darkest, 25%), 
    'x-dark': $darkest,
  }

$palette = {
  'light': -tone-range(#ffffff, #E3E3E3),
  'neutral': -tone-range(#CCCCCC, #A3A3A3),
  'dark': -tone-range(#666666, #3D3D3D),
}

// color selects a color/tone pair from the palette.
-color($color, val='base')
  return $palette[$color][val]
