// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require '~src/toolbox/tokens/index.styl'

.text > *,
.text > *:hover,
.text > *:active
  color inherit
  text-decoration inherit

.text--body
  font-size $font-size--medium
  line-height $line-height--medium
  font-weight $font-weight--light
  letter-spacing $letter-spacing--compact
