@require '~src/toolbox/tokens/index.styl'

.side-navigation--list
  margin-bottom inherit

.side-navigation__navigation-item
  list-style-type none
  margin-bottom $spacing-small
  color $colors--secondary-text

.side-navigation__navigation-item:hover,
.side-navigation__navigation-item:active
  color $colors--link

.side-navigation__navigation-item--active
  color $colors--link

.side-navigation__navigation-item--disabled
  color $colors--disabled
  pointer-events none
  cursor default
