// Copyright 2024 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "src/core/index.module";

.page-section {
  margin-bottom: 16px;
  font-size: $font-size--medium;
  color: $colors--primary-text;
}

