.controlscreen {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    fill: #fff;
    fill-opacity: 0.85;
    margin: 0 auto;
    text-align: center;
}

.heading {
    font: 48px helvetica;
    font-weight: bold
}

.stats {
    font: 14px helvetica;
    font-weight: bold
}

.model-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}

.model-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0;
}

.btn-addnode {
}

.btn-addapp {
}

.btn-restart {
    float: right;
}

.range {
    stroke: #f00;
    stroke-width: 0px;
}

.roachnode {
    stroke: #333;
    stroke-width: 1px;
    fill: url("#fullnessGradient-0");
}

.app {
    fill: #fff;
    stroke: #400;
    stroke-width: 1px;
}

.backoff {
    stroke: #f00;
    stroke-dasharray: 3,3;
}

.dc {
    stroke: #66a;
    stroke-width: 1.5px;
    fill: #fff;
    fill-opacity: 0.6;
}

.dclabel {
    fill: black;
    stroke-width: 0px;
    font: 10px helvetica;
    font-weight: bold;
}

.node-unreachable {
    fill: #f00;
    fill-opacity: 0.1;
}

.node-full {
    fill: #f00;
    fill-opacity: 0.2;
}

.request {
}

.dclink {
    stroke: #c33;
    stroke-width: 0px;
}

.link {
    stroke: #c33;
    stroke-width: 0px;
}

.projection {
    background-color: lavender;
    border: 1px solid black;
}

.geopath {
    fill: #f7f7ff;
    stroke: #ccc;
    stroke-width: .5px;
}