// Copyright 2025 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@require '~src/components/core/index.styl'

.gridContainer
  display grid
  grid-template-columns auto 1fr
  column-gap 10px
  row-gap 20px
  margin-top 10px

.controlGroup
  display flex
  align-items center
  gap 10px

.controlLabel
  font-weight bold

.selectControl
  padding 5px 10px
  font-size 14px
  border-radius 4px
  border 1px solid #ccc
