// Copyright 2021 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@import "src/core/index.module";

.databases-table {
  &__col {
    &-name {
      font-family: $font-family--semi-bold;
    }

    &-size,
    &-table-count,
    &-range-count {
      width: 10em;
      text-align: right;
      padding-right: $spacing-x-large;
    }
    &-idx-rec {
      width: 20em;
    }
  }

  &__no-result {
    @include text--body-strong;
  }
}

.sorted-table {
  width: 100%;
}

.icon {
  &__container {
    display: inline-flex;
    align-items: center;
  }

  &--md {
    height: 24px;
    width: 24px;
    margin-right: 12px;
  }

  &--s {
    height: 16px;
    width: 16px;
    margin-right: 10px;
  }

  &--xxs {
    height: 8px;
    width: 8px;
  }

  &--title {
    fill: $colors--title;
  }

  &--primary {
    fill: $colors--primary-text;
  }
}

.index-recommendations-icon {
  &__exist {
    height: 10px;
    width: 20px;
    fill: $colors--functional-orange-3;
  }

  &__none {
    height: 10px;
    width: 20px;
    fill: $colors--neutral-11;
  }
}
