// Copyright 2021 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "../core/index.module";

.modal-body {
  .ant-modal-body {
    padding: $spacing-medium;
  }
}

.diagnostic {
  &__options-container {
    margin-top: $spacing-medium-small;
    display: flex;
    flex-direction: column;

    .ant-radio {
      top: 0;
    }

    /* Overriding radio button colors. */
    .ant-radio-checked .ant-radio-inner {
      border-color: $colors--primary-blue-3;

      &:after {
        background-color: white;
        top: 4px;
        left: 4px;
        margin-left: 0;
        margin-top: 0;
      }
    }

    .ant-radio:hover .ant-radio-inner {
      border-color: $colors--primary-blue-3;
    }

    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: $colors--primary-blue-3;
    }
  }

  &__heading {
    font-family: $font-family--semi-bold;
    margin-bottom: $spacing-smaller;
  }

  &__btn-group {
    display: flex;
    flex-direction: column;
  }

  &__radio-btn {
    font-family: $font-family--base;
    font-weight: $font-weight--light;
  }

  &__plan-gist-group {
    margin-bottom: -25px;
  }

  &__conditional-container {
    display: flex;
    flex-direction: column;
    margin-left: $spacing-medium;
    margin-top: $spacing-smaller;
  }

  &__min-latency-container {
    display: flex;
    flex-direction: row;
    margin-top: $spacing-smaller;
  }

  &__trace-container {
    display: flex;
    flex-direction: row;
    margin-top: $spacing-smaller;
    margin-bottom: $spacing-smaller;
  }

  &__plan-gist-container {
    display: flex;
    flex-direction: row;
    margin-top: $spacing-smaller;
    margin-bottom: $spacing-smaller;
    margin-left: $spacing-medium;
  }

  &__trace-warning {
    font-family: $font-family--base;
    font-size: $font-size--small;
    font-weight: $font-weight--light;
    margin-left: $spacing-x-small;
    white-space: break-spaces;
    width: 240px;
  }

  &__expires-after-container {
    margin-top: $spacing-smaller;
    margin-left: $spacing-medium;
  }

  &__checkbox-text {
    font-family: $font-family--base;
    font-weight: $font-weight--light;
    display: inline;
  }

  &__select-text {
    font-family: $font-family--base;
    font-weight: $font-weight--light;
    display: block;
  }

  &__input {
    &__min-latency-time {
      width: 80px;
      margin-right: $spacing-x-small;
    }
    &__expires-after-time {
      width: 80px;
      margin-right: $spacing-x-small;
      font-family: $font-family--base;
      font-weight: $font-weight--light;
    }
  }

  &__select {
    &__min-latency-unit {
      width: 140px;
      height: 40px;
      line-height: 40px;

      .ant-select-selection__rendered {
        margin-top: 0;
      }
    }
    &__trace {
      width: 215px;
      height: 40px;
      line-height: 40px;

      .ant-select-selection__rendered {
        margin-top: 0;
      }
    }
    &__plan-gist {
      width: 400px;
      height: 40px;
      line-height: 40px;

      .ant-select-selection__rendered {
        margin-top: 0;
      }
    }
  }

  &__alert {
    margin-top: $spacing-small;
    margin-left: $spacing-medium;
    white-space: normal;
  }

  &__warning {
    margin: $spacing-xx-small 0px;
    white-space: normal;
  }
}

.margin-bottom {
  margin-bottom: 10px;
}
