@import "../core/index.module";

.root {
  max-width: 100%;
}

.full-width {
  min-width: 100%;
}

.radio-offset {
  padding-left: $spacing-medium;
}

.modal-body {
  padding: $spacing-medium;
}

.compact {
  width: 80px;
}

.trim-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 228px;
}
