// Copyright 2021 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "src/core/index.module";

.diagnostic-status-badge {
  &__content {
    width: fit-content;
  }
}

.tooltip--title a {
  color: $colors--neutral-0;
  text-decoration: underline;
  &:hover {
    opacity: 0.7;
    color: $colors--neutral-0;
  }
}
