// Copyright 2018 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

.data-distribution
  display: flex

  &__zone-config-sidebar
    padding-right 20px

.zone-config
  padding-top 5px

  &__raw-sql
    tab-size 2
