// Copyright 2018 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.
@require '~styl/base/palette.styl'

.matrix
  background-color white
  border-collapse collapse
  border-bottom 1px solid lightgrey
  border-top 1px solid lightgrey

  thead
    border-bottom 1px solid black

  th, td
    padding 5px
    border-left 1px solid lightgrey
    border-right 1px solid lightgrey

  td.value
    text-align center

  &__metric-label
    font-style italic

  &__row--internal-node
    cursor pointer

  &__row--internal-node:hover
    background-color rgb(240, 240, 240)

  &__row-header
    text-align left

  &__row-header--internal-node
    font-weight bold

  &__column-header
    font-weight bold

  &__column-header--internal-node
    cursor pointer

  &__column-header--internal-node:hover
    background-color rgb(240, 240, 240)

  &__cell-value
    text-align right

  &__dropped-schema-object
    color $alert-color
    margin-left 5px

.table-label
  &--dropped
    color grey
    font-style italic
    text-decoration line-through

.replica-matrix-key
  width 400px
  margin-top 10px
  font-style italic
  table-border-width 10px

  td
    vertical-align top

  &__definition
    padding-left 5px
