// Copyright 2026 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "src/components/core/index.scss";
html {
  font-size: $font-size--medium;
}

body {
  line-height: $line-height--small;
  font-size: $font-size--medium;
  font-family: Lato-Regular;
  font-weight: $font-weight--light;
}

h1.base-heading {
  font-size: 24px;
  font-family: SourceSansPro-Regular;
  line-height: initial;
}

h2.base-heading {
  padding: 12px 0;
  font-size: 24px;
  font-family: SourceSansPro-Regular;
}

h3.base-heading {
  color: $colors--neutral-7;
  font-family: $font-family--base;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-size: 20px;
  padding-bottom: 12px;
}

code {
  font-family: $font-family--monospace;
}
