.alert-box
  clearfix()
  display flex
  width calc(100% - 48px)
  float left
  margin 0 6px 10px
  padding 20px
  border 1px solid $dark-blue
  border-radius 5px
  font-family Lato-Regular
  
  &__icon
    flex 0

  &__content
    flex 1
    margin-left 20px

  &__dismiss
    flex 0

  &__title
    font-family Lato-Bold
    padding-right 25px

  &__link
    text-decoration none
    color inherit
    cursor pointer

  &--notification
    color $light-blue
    border-color $alert-blue-dark
    background-color $alert-blue-light

  &--warning
    color $light-blue
    border-color $alert-yellow-dark
    background-color $alert-yellow-light

  &--critical
    color $light-blue
    border-color $alert-red-dark
    background-color $alert-red-light

.alert-banner
  position fixed
  z-index 10
  left 50px
  right 50px
  top 20px
