.alert
  &.summary-section
    color $light-blue
    background-color rgba(241, 105, 105, .2)
    border 1px solid rgba(241, 105, 105, .3)

  .icon
    float left
    line-height 42px
    margin-right 15px

  .title
    font-family Lato-Bold