button
  width 100px
  height 40px
  border-radius 2px
  border 0
  background-color $secondary-blue
  color white
  font-family Lato-Medium
  font-size 14px
  letter-spacing .25px
  margin-right 20px

  &:hover
    background-color $secondary-blue-2

  &.right
    float right
    margin-right 3%

  &.cancel
    background-color $secondary-gray-12
    color $secondary-gray-13
    &:hover
      background-color $secondary-gray-14

  &.timescale
    whitespace nowrap
    padding 10px
    width auto
