.create-table, pre.sql
  font-family Inconsolata-Regular
  background-color $secondary-gray-3
  padding 20px
  display inline-block
  width 100%

pre.sql.hljs
    background-color $main-dark-gray
    color $secondary-gray-12
    overflow-x auto

    .hljs-string
        color $syntax-orange

    .hljs-keyword
    .hljs-literal
        color $syntax-blue
