.events
  font-family Lato-Regular
  table
    width 100%
    border-collapse collapse
    tr
      height 39px
      border-bottom 1px solid $lighter-gray
      &:last-child
        border 0
    td
      padding-left 0
.events__message
  font-size 14
  color $secondary-gray-11

.events__timestamp
  font-size 12
  color $light-gray

.events__more-link
  text-align center
  color $secondary-blue
  font-family Lato-Bold
  text-transform uppercase
  font-size 12px
  letter-spacing 2px
  cursor pointer