.dropdown-option
  text-transform uppercase
  letter-spacing 2px
  line-height 17px
  padding 1rem 2rem
  vertical-align middle
  border 1px solid rgba(0, 0, 0, .1)
  border-radius 4px

  &__title
    vertical-align middle
    display inline-block

  &__select
    display inline-block
    vertical-align middle
    width 200px
