.timescale-selector-container
  position relative

.timescale-selector
  right 0
  left auto
  top auto
  white-space nowrap
  padding 15px 25px
  display flex

  .text
    margin-right 30px

  button
    background-color white
    color $main-navy
    width auto
    padding 10px
    margin 5px
    font-family Lato-Semibold
    &:focus
      outline 0

    &.selected
      background-color $secondary-blue
      color white
      border-radius 23px
      font-family Lato-Heavy
      font-size 13px

  &.show
    visibility visible
    opacity 1
    transition-duration 0s
