// Copyright 2018 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

.alert-banner
  position fixed
  z-index 10
  left 50px
  right 50px
  top 20px