// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require '~src/components/core/index.styl'

.feedback-survey-link
  display flex
  flex-direction row
  font-family $font-family--base
  align-items center
  border-right 1px solid #C0C6D9
  margin-right $spacing-smaller
  cursor pointer
  &__title
    margin-right $spacing-x-small
  .image-container
    width 32px
    height 32px
    display flex
    justify-content center
    align-items center
    border-radius 16px