// Copyright 2021 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "../core/index.module";

.page-config {
  // Stick to the top.
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  // We want 10px of spacing above and below this div when
  // it's fixed during scrolling, but not when the page
  // is scrolled to the top. This combination of padding
  // and negative margins achieves that.
  padding-bottom: 5px;
  padding-top: 10px;
  margin-bottom: -10px;
  margin-top: -10px;

  z-index: 2;
  background-color: $colors--background;

  &__white-background {
    background-color: $colors--white
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .page-config__item {
      margin-right: 12px;
    }
  }

  &__spread {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    list-style: none;
  }
}
