// Copyright 2020 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require '~src/components/core/index.styl'

.alert-massage
  max-width 470px
  font-size 12px
  // it is !important because Ant sets margin to 0
  // when closing animation happens and Alert panel
  // jumps to the left side.
  margin 0 0 0 auto!important
  padding-left 48px
  border-radius 3px
  box-shadow 0 0 10px 0 rgba(71, 88, 114, 0.47)
  background-color #ffffff
  border-color #ffffff
  .alert-massage__icon
    font-size 20px
    left 16px
  .ant-alert-close-icon
    margin unset
    right 0
    top 0
    padding-right 16px
  .ant-alert-message
    font-size 14px
    color #242a35
    font-weight 600

  &__close-text
    color $colors--neutral-7
    margin $spacing-smaller 0
    font-size $font-size--large
    line-height $spacing-smaller
    font-weight $font-weight--extra-bold

.ant-alert-success .alert-massage__icon
  color #37a806
