<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="133.133.133.66"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="maxHeapSize" value="80"/>
    <stringAttribute key="modelBehaviorInit" value="Init"/>
    <stringAttribute key="modelBehaviorNext" value="Next"/>
    <stringAttribute key="modelBehaviorSpec" value=""/>
    <intAttribute key="modelBehaviorSpecType" value="2"/>
    <stringAttribute key="modelBehaviorVars" value="Transactions, Intent_write, key1, key2, key3, key4, key5, key6, key7, key8, key9, System_ts, Txn_exeid, Tscache, keyj, keyq, keyt, Tocheck, MVCCData, op1, op2, op3, op4, op5, op6, op7, op8, op9, opj, opq, opt, Read_result, Record, T1, T2, T3"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1TxnInv"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1Properties"/>
    </listAttribute>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Nil;;Nil;1;0"/>
        <listEntry value="Read;;Read;1;0"/>
        <listEntry value="Write;;Write;1;0"/>
        <listEntry value="MaxAttempt;;2;0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="10"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="TransactionLayer"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
