.instructions-box
  cursor pointer
  font-size 10px
  position absolute
  right 26px
  bottom 26px
  background-color white
  border 1px solid #EDEDED
  border-radius 3px
  padding 10px
  box-shadow 0px 0px 4px 0px rgba(0, 0, 0, 0.2)
  letter-spacing 0.5px

  p
    padding-bottom 3px
