// Copyright 2018 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require '~styl/base/palette.styl'

.jobs-page
  display flex
  flex-flow column
  height 100%

.no-results
  display flex
  align-items center
  justify-content center
  height 100%


.jobs-table
  h3
    color $headings-color

  &__row
    &--paused .rc-progress-line-path
      stroke $tooltip-color

    &--failed
      & + &  // Match two adjacent failed rows.
        border-top 1px solid $table-border-color

  &__progress-bar
    stroke $link-color
    padding-right .7em
    width 120px

  &__duration
    font-family SourceSansPro-Regular
    font-size 12px
    line-height 1.67
    letter-spacing 0.3px
    color $colors--neutral-8
    &--right
      margin-left 48px

  &__status, &__running-status
    text-transform capitalize
  &__progress
    display flex
    align-items center
    justify-content flex-start
  &__status
    margin-bottom 8px
    font-family SourceSansPro-SemiBold
    font-size 14px
    font-weight 600
    line-height 1.71
    letter-spacing 0.1px
    color $colors--neutral-8
    &--percentage
      font-family SourceSansPro-Regular
      font-size 12px
      margin 0 6px 0 0
      line-height 1.67
      letter-spacing 0.3px
      width 40px
      text-align right
    &--succeed
      color $colors--primary-green-3
    &--failed
      color $colors--functional-red-3
    &--canceled
      color $colors--functional-orange-3
  .job-detail
    white-space pre-wrap
    padding 5px
    margin-top 5px
    margin-bottom 10px
    border 1px solid $button-border-color
    border-radius 4px
    background-color white
    color $headings-color

  &__cell--description
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    max-width 500px
    word-wrap break-word

  &__status-icon
    display inline-block
    margin-right 7px
