// Copyright 2022 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "src/core/index.module";

.bold-link {
  font-weight: $font-weight--bold;

  &:hover {
    color: $colors--link;
    text-decoration: underline;
  }
}

.regular-link:hover {
  color: $colors--link;
  text-decoration: underline;
}
