// Copyright 2020 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@import "../core/index.module.scss";

.sessions-table__col-time {
  white-space: nowrap;
}

.sessionLink a {
  all: initial;
  font-family: $font-family--semi-bold;
  font-size: $font-size--medium;
  font-weight: $font-weight--bold;
  cursor: pointer;
  color: $colors--link;
}

.cl-table__col-session {
  color: $colors--neutral-8;
  font-family: $font-family--base;
  font-size: $font-size--medium;
  font-weight: $font-weight--light;

  & a {
    all: initial;
    font-family: $font-family--semi-bold;
    font-weight: $font-weight--bold;
    line-height: 1.83;
    color: $colors--link;
    text-decoration: none;
    cursor: pointer;
    @include line-clamp(2);
    &:hover {
      color: $colors--link;
      text-decoration: underline;
    }
  }
}

.session-action--dropdown {
  align-items: flex-end;
}
