// Copyright 2020 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "../core/index.module.scss";

.sessions-details {
  font-family: $font-family--base;
  width: 100%;
  max-width: 1200px;
}

.heading-with-controls {
  display: flex;
  flex-direction: row;
  padding-right: $spacing-medium;
}

.page--header__title {
  flex-grow: 1;
  margin-bottom: $spacing-small;
}

.heading-controls-group {
  margin-bottom: $spacing-small;
  > * {
    margin-left: $spacing-xx-small;
  }
}

.details-section {
  padding: $spacing-small $spacing-medium;
  margin-bottom: $spacing-large;
}

.details-header {
  margin-top: 12px;
  margin-bottom: 12px;
}

.details-item {
  height: $line-height--x-large;
  margin-bottom: unset;
  align-items: center;
  &:not(:last-child) {
    box-shadow: 0 1px 0 #dbe1ea;
  }
}

.session-details-link a {
  color: $colors--link;
}

.session-status-icon {
  &__active {
    height: 10px;
    width: 20px;
    fill: $colors--primary-green-3;
  }

  &__idle {
    height: 10px;
    width: 20px;
    fill: $colors--functional-orange-3;
  }

  &__closed {
    height: 10px;
    width: 20px;
    fill: $colors--neutral-4;
  }
}

.session-txn-fingerprints {
  margin-top: 12px;
  max-height: 300px;
  overflow-y: scroll;

  .link-txn-fingerprint-id {
    display: block;
    margin-bottom: 8px;
  }
}
