// Copyright 2020 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require '~src/components/core/index.styl'

$icon-size = 9px

.header-section
  margin-top $spacing-medium-small
  display flex
  flex-direction column

  &__back-link
    display flex
    flex-direction row

  &__back-icon
    height $icon-size
    width  $icon-size
    margin-right $spacing-x-small

  &__back-link
    @extends $text--body
    margin-bottom $spacing-small
    & *
      color $colors--primary-text
