.matrix-row.node
  cursor pointer

.matrix-row.node:hover
  background-color rgb(240, 240, 240)

.matrix-column-header
  font-weight bold

.matrix-column-header.toggleable
  cursor pointer

.matrix-column-header.toggleable:hover
  background-color rgb(240, 240, 240)
