@require '~styl/base/palette.styl'

.matrix
  background-color white
  border-collapse collapse
  border-bottom 1px solid lightgrey
  border-top 1px solid lightgrey

  thead
    border-bottom 1px solid black

  th, td
    border-left 1px solid lightgrey
    border-right 1px solid lightgrey

  th
    padding 5px

  &__metric-label
    font-style italic

  &__row--internal-node
    cursor pointer

  &__row--internal-node:hover th
    background-color rgb(240, 240, 240)

  &__row-header
    text-align left

  &__row-header--internal-node
    font-weight bold

  &__column-header
    font-weight bold

  &__column-header--internal-node
    cursor pointer

  &__column-header--internal-node:hover
    background-color rgb(240, 240, 240)

  &__cell
    text-align right
    padding 0

  &__cell-value
    padding 5px

  a
    color $link-color
    text-decoration none

.sort-state-selector
  margin-left 5px

  &__option
    cursor pointer
    margin-left 2px

  &__option--selected
    font-weight bold
    color white
    background grey
