// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@require '~src/components/core/index.styl'

.page-header
  height 100%
  display flex
  flex-direction row
  flex-flow wrap
  align-items center
  padding $spacing-x-small 0
  .text
    font-family $font-family--semi-bold
    color $colors--neutral-8
  :last-child
    margin-left auto

.page-header > *
  margin-right $spacing-small
  margin-bottom 0
