// Copyright 2018 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require "~styl/base/palette.styl"

.debug-url
  margin-right 200px

  div
    background-color $background-color
    border-radius 3px
    padding 8px 20px 6px 10px
    min-width 200px

.debug-header
  position relative

.debug-header__annotations
  position absolute
  top 0
  right 0
