// Copyright 2021 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "src/core/index.module";

.tooltip-info {
  border-bottom: 1px dashed $colors--neutral-5;
}

.action {
  color: $colors--link;
  display: flex;
  line-height: 24px;
  &:hover {
    color: $colors--link;
    text-decoration: underline;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.row-small {
  display: flex;
  flex-direction: row;
  font-size:xx-small;
  color:$colors--neutral-5;
  max-width: 450px;
  line-height: 15px;
}
