// Copyright 2022 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "src/core/index.module";

.status-icon {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 4px;
}

.waiting {
  fill: $colors--warning;
}

.executing {
  fill: $colors--success;
}
