// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

.outside-event-handler
  position initial

.outside-event-handler--position-fixed
  position fixed

.outside-event-handler--position-initial
  position initial
