// Copyright 2022 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.


.tag-button
  padding 0
  border-width 0
  line-height auto
  height auto

.outer-row
  padding-top: 8px
  padding-bottom: 8px
  display: flex
  flex-direction: column
  gap: 10px

.inner-row
  display: flex
  gap: 10px
  max-width: 20%
