// Copyright 2018 The Cockroach Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
// implied. See the License for the specific language governing
// permissions and limitations under the License.

@require "~styl/base/palette.styl"

.loading-error
  padding 10px
  border thin solid $notification-alert-border-color
  background $notification-alert-fill-color
  border-radius 5px

.loading-image
  height 100%
  background-repeat no-repeat
  background-position center 40%
  padding 12px 24px

  &__spinner
    background-size 40px 40px
    min-height 40px

  &__spinner-left
    background-size 40px 40px
    min-height 40px
    width 400px

    &__padded
      padding-top 100px
