@import "src/core/index.module";

.flex-display {
  display: flex;
}

.tooltip-hover-area {
  padding-top: 3px;
  padding-right: 10px;
}

.action {
  color: $colors--link;
  line-height: 24px;
  &:hover {
  color: $colors--link;
    text-decoration: underline;
  }
}
