# NPM node modules
node_modules
npm.installed

# Bower components
bower_components
bower.installed

# Generated intermediates
/build
/index.html

# Generated proto json/typescript/javascript
/generated

# Ignore non-browser typings files
/typings/*
!/typings/browser.d.ts
!/typings/browser
