// Copyright 2026 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@import "styl/base/palette.scss";
@import "styl/base/layout-vars.scss";

.popover {
  position: absolute;
  z-index: $z-index-tooltip;
  box-shadow: 0 0 4px 0 $popover-shadow-color;
  border-radius: 4px;
  border: solid 0.5px $popover-border-color;
  display: none;
  background-color: white;
  right: -20px;
  top: 20px;
}

.popover--visible {
  display: block;
}

.popover__content {
  cursor: pointer;
}
