// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

// Primary Palette
$headings-color = #152849
$healthy-color = #66AA26
$warning-color   = #F2BE2C
$alert-color    = #ED7785
$adminui-grey-1    = #242a35
$adminui-grey-2    = #5f6c87
$adminui-blue-1-base    = #3a7ce1
$body-color = #5F6C87
$text-color = #394455
$secondary-text-color = #7e89a9
$link-color = #3A7DE1
$tooltip-color = #B8BBBC
$tooltip-shadow = rgba(0, 0, 0, .20)
$table-border-color = #EDEDED
$button-border-color = #C8CBD4
$background-color  = #F6F6F6
$main-blue-color = #3A7DE1  // This should match MAIN_BLUE from colors.tsx
$grey = #b8bbbc

// Alert colors
$notification-alert-fill-color = #F4D9D9
$notification-alert-border-color = #F2B7B7
$notification-info-fill-color = #F2F8EC
$notification-info-border-color = #C8E0AF
$notification-warning-fill-color = #FDF8E9
$notification-warning-border-color = #F9E6AF

// Info box colors
$info-box-fill-color = #EEF7FE
$info-box-border-color = #3A7DE1
$info-box-heading-color = #3A7DE1

// Syntax highlight colors
$syntax-string-color = #E4843C
$syntax-keyword-color = #91C8F2

// Popover colors
$popover-color = #394455
$popover-shadow-color = #9aa1ab
$popover-border-color = #e7ecf3