// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require '~src/components/core/index'

// Primary Palette
$headings-color = $colors--primary-blue-5
$healthy-color = #66AA26
$warning-color   = $colors--warning
$alert-color    = $colors--alert
$adminui-grey-1    = $colors--neutral-8
$adminui-grey-2    = #5f6c87
$adminui-blue-1-base    = #3a7ce1
$body-color = #5F6C87
$text-color = $colors--neutral-7
$secondary-text-color = $colors--neutral-5
$link-color = #3A7DE1
$tooltip-color = #B8BBBC
$tooltip-shadow = rgba(0, 0, 0, .20)
$table-border-color = #EDEDED
$button-border-color = #C8CBD4
$background-color  = $colors--background
$main-blue-color = #3A7DE1  // This should match MAIN_BLUE from colors.tsx
$grey = #b8bbbc
$grey-light = $colors--neutral-4
$adminui-white = $colors--white
$table-border = #dbe1ea

// Alert colors
$notification-alert-fill-color = #F4D9D9
$notification-alert-border-color = #F2B7B7
$notification-info-fill-color = #F2F8EC
$notification-info-border-color = #C8E0AF
$notification-warning-fill-color = #FDF8E9
$notification-warning-border-color = #F9E6AF

// Info box colors
$info-box-fill-color = #EEF7FE
$info-box-border-color = #3A7DE1
$info-box-heading-color = #3A7DE1

// Syntax highlight colors
$syntax-string-color = #E4843C
$syntax-keyword-color = #91C8F2

// Popover colors
$popover-color = $colors--neutral-7
$popover-shadow-color = #9aa1ab
$popover-border-color = $colors--neutral-2

// classes colors
$link = #3a7ce1
$checkbox-border = $colors--neutral-5
$checkbox-border-hover = $colors--neutral-4

// default
$lightgreen = #e1f2d1
$lightblue = #e0f1ff
$yellow = $colors--functional-orange-1
$placeholder = $colors--neutral-6
$blue = $colors--primary-blue-3
$light-blue = $colors--primary-blue-2
$green = $colors--primary-green-3
$grey2 = $colors--neutral-3
$chip-green = #b5e28b
$chip-lightgreen = #e1f2d1
$chip-grey = $colors--neutral-1
$chip-blue = #bee1ff
$chip-lightblue = #e0f1ff
$chip-yellow = $colors--functional-orange-1
