// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License included
// in the file licenses/BSL.txt and at www.mariadb.com/bsl11.
//
// Change Date: 2022-10-01
//
// On the date above, in accordance with the Business Source License, use
// of this software will be governed by the Apache License, Version 2.0,
// included in the file licenses/APL.txt and at
// https://www.apache.org/licenses/LICENSE-2.0

@require 'utils/fonts.styl'

// Using the same strategy as sassline: establish the root size (rems) as 1/2
// of our chosen baseline height. This allows easy, integer math for baseline units
// using rems.
html
  font-size 14px

body
  line-height 20px
  font-size $font-base-size
  font-family Lato-Regular
  font-weight 400

h1
  font-size 24px
  font-weight bold
  letter-spacing 5px
  text-transform uppercase

h2
  padding 12px 0
  font-size 20px
  font-weight bold

code
  font-family Inconsolata-Regular

font-face('Lato-Bold')
font-face('Lato-Regular')
font-face('Inconsolata-Regular')
