// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require "~src/components/core/index.styl"

// Using the same strategy as sassline: establish the root size (rems) as 1/2
// of our chosen baseline height. This allows easy, integer math for baseline units
// using rems.
html
  font-size $font-size--medium

body
  line-height $line-height--small
  font-size $font-base-size
  font-family Lato-Regular
  font-weight $font-weight--light

h1.base-heading
  font-size 24px
  font-family SourceSansPro-Regular
  line-height initial

h2.base-heading
  padding 12px 0
  font-size 24px
  font-family SourceSansPro-Regular

code
  font-family $font-family--monospace
  