// Copyright 2018 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require "~src/components/core/index.styl"
@require '~styl/base/palette.styl'

.nvtooltip
  font-family Lato-Regular !important
  color $body-color !important
  padding 15px 20px !important
  background rgba(255, 255, 255, .98) !important
  border-radius 5px !important
  border 1px solid rgba(0, 0, 0, .1) !important
  box-shadow 0px 0px 4px rgba(0, 0, 0, .2)

.nvtooltip table
  margin 0 !important

.nvtooltip .legend-color-guide div
  width 7px !important
  height 7px !important
  border-radius 50% !important
  border none !important

.nvtooltip table tr.highlight td
  padding 2px 9px 2px 0 !important
  border none !important

.nvtooltip table tr.highlight td:first-child
  padding 2px 9px 2px 3rem

.nvtooltip strong
  font-weight 400 !important

.legend-subtext
  color $tooltip-color !important
  font-weight 300

.nvd3 .nv-axis
  .tick line
    stroke $table-border-color

  text
    fill $headings-color
    font-family Lato-Regular
    font-size 11px

  .nv-axislabel
    font-family Lato-Regular
    fill $headings-color

.nv-y .nv-axis .domain
  opacity 0

.nvd3 text
  opacity .6
  font-size 10px
