.locality-table
  width 100%
  border 1px solid #ededed
  border-collapse collapse
  font-family Lato-Regular
  font-weight 300
  font-size 14px
  vertical-align top
  white-space nowrap
  color #5f6c87

  thead
    tr
      background-color #fff
      padding 20px
      font-size 12px
      font-weight bold
      letter-spacing 2px
      text-transform uppercase
      text-align left

      td, th
        padding 18px 20px
        color #b8bbbc

  tr
    letter-spacing: 0.33px
    background-color: #fff

  tbody
    tr:nth-child(2n+1)
      background-color: #f6f6f6

  td, th
    padding 10px 20px
    border-right 1px solid #ededed

    &.depth-1
      padding-left 40px
    &.depth-2
      padding-left 60px
    &.depth-3
      padding-left 80px
    &.depth-4
      padding-left 100px
    &.depth-5
      padding-left 120px
    &.depth-6
      padding-left 140px
