@charset "UTF-8";

@font-face {
    font-family: "cockroach";
    src: url("../fonts/cockroach.woff");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "cockroach" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "cockroach" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cockroach-icons-20150827-10:before,
.icon-settings:before {
    content: "\61";
}
.icon-cockroach-icons-20150827-09:before,
.icon-user:before {
    content: "\62";
}
.icon-cockroach-icons-20150827-08:before,
.icon-database:before {
    content: "\63";
}
.icon-cockroach-icons-20150827-07:before,
.icon-store:before {
    content: "\64";
}
.icon-cockroach-icons-20150827-12:before,
.icon-double-arrow:before {
    content: "\67";
}
.icon-cockroach-icons-20150827-13:before,
.icon-circle:before {
    content: "\68";
}
.icon-cockroach-icons-20150827-14:before,
.icon-gear:before {
    content: "\69";
}
.icon-cockroach-icons-20150827-15:before,
.icon-magnifying-glass:before {
    content: "\6a";
}
.icon-cockroach-icons-20150827-16:before,
.icon-right-triangle:before {
    content: "\6b";
}
.icon-cockroach-icons-20150827-17:before,
.icon-calendar:before {
    content: "\6c";
}
.icon-cockroach-icons-20150827-18:before,
.icon-circle-filled:before {
    content: "\6d";
}
.icon-cockroach-icons-20150827-19:before,
.icon-down-triangle:before {
    content: "\6e";
}
.icon-cockroach-icons-20150827-20:before,
.icon-pushpin:before {
    content: "\6f";
}
.icon-cockroach-icons-20150827-21:before,
.icon-trashcan:before {
    content: "\70";
}
.icon-cockroach-icons-20150827-22:before,
.icon-social:before {
    content: "\71";
}
.icon-cockroach-icons-20150827-23:before,
.icon-info:before {
    content: "\72";
}
.icon-cockroach-icons-20150827-24:before,
.icon-eye:before {
    content: "\73";
}
.icon-cockroach-icons-20150827-05:before,
.icon-globe:before {
    content: "\65";
}
.icon-cockroach-icons-20150827-06:before,
.icon-nodes:before {
    content: "\66";
}
.icon-cl-admin-icons-20:before,
.icon-check-circle:before {
    content: "\74";
}
.icon-cl-admin-icons-21:before,
.icon-check:before {
    content: "\75";
}
.icon-cl-admin-icons-25:before,
.icon-x:before {
    content: "\76";
}
.icon-cl-admin-icons-29:before,
.icon-error:before,
.icon-stop-sign:before {
    content: "\77";
}
.icon-cl-admin-icons-30:before,
.icon-skull:before {
    content: "\78";
}
.icon-cl-admin-icons-26:before,
.icon-warning:before {
    content: "\79";
}
.icon-cl-admin-icons-27-1:before,
.icon-warning-filled:before {
    content: "\41";
}
.icon-cl-admin-icons-28:before,
.icon-info-filled:before {
    content: "\7a";
}
.icon-cl-admin-icons-28-24:before,
.icon-up-arrow:before {
    content: "\42";
}
.icon-cl-admin-icons-28-23:before,
.icon-bell:before {
    content: "\43";
}
.icon-cl-admin-icons-28-22:before,
.icon-config:before {
    content: "\44";
}
