<html>
  <body>
    <p>A candidate SHA has been selected for <strong>{{ .Version }}</strong>. Proceeding to qualification shortly.</p>
    <ul>
      <li>SHA: <a href="https://github.com/cockroachlabs/release-staging/commit/{{ .SHA }}">{{ .SHA }}</a></li>
      <li>Tracking Issue: <a href="{{ .TrackingIssueURL }}">{{ .TrackingIssue }}</a></li>
      <li><a href="{{ .DiffURL }}">List of changes</a> since last release</li>
    </ul>
    <p>
      Thanks,<br />
      Release Engineering
    </p>
  </body>
</html>
