<html>
  <body>
    <p>Hello!</p>
    <p>
      The <strong>{{ .Args.Version }}</strong> release is scheduled for prep & qualification on
      <strong>{{ .Args.PrepDate }}</strong> for a scheduled release of <strong>{{ .Args.ReleaseDate }}</strong>.
    </p>
    <!-- ----- backport direction, which depends on release-type  ----- -->
    {{ if .Template.BackportsUseBackboard }}
      <p>
        This is a reminder to merge any outstanding backports that need to be included in the next release.
        Please refer to
        <a href='https://backboard.crdb.dev/?branch={{ .Args.ReleaseBranch }}&repo=386372623925772289'
        >backboard</a> to identify any such backports.
      </p>
    {{ end }}
    {{ if .Template.BackportsWeeklyTriageReview }}
      <p>
        With the
        <a href='https://go.crdb.dev/backport-policy-branch-cut'>Restrictive Backport Policy</a> in effect,
        backports for {{ .Args.ReleaseBranch }} will be reviewed at Monday's triage meeting.
      </p>
    {{ end }}
    {{template "blockers" .}}
    <p>
      Thanks,<br />
      Release Engineering
    </p>
  </body>
</html>
