<html>
<body>
<p>Hello!</p>
<p>
  The <strong>{{ .Args.Version }} release date of {{ .Args.ReleaseDate }} will be cancelled tomorrow</strong>
  if the following release blockers are not resolved before tonight's nightly build.
</p>
{{template "blockers" .}}
<p>
  Thanks,<br />
  Release Engineering
</p>
</body>
</html>
