<html>
  <body>
    <p>Hello!</p>
    <p>
      The <strong>{{ .Args.Version }}</strong> release is scheduled for prep & qualification on
      <strong>{{ .Args.PrepDate }}</strong> for a scheduled release of <strong>{{ .Args.ReleaseDate }}</strong>.
    </p>
    <!-- ----- current blocker status and next steps ----- -->
    {{ if (eq .Args.TotalBlockers 0) }}
      <p>
        There are currently <strong>0 open release blockers</strong>
        (<a href='https://{{ .Args.BlockersURL }}'>{{ .Args.BlockersURL }}</a>)&nbsp;<span font-size='70%%'>🎉</span>.
        We are clear to proceed with preparation and qualification.
      </p>
    {{ else }}
      <p>
        <strong>Respective teams: please review blockers below</strong> to assess if any of these cause
        known data loss or corruption[1]. Otherwise, we will proceed to prep & qualify on Tuesday
        <strong>even if there are open release blockers</strong>.
      </p>
      <!-- grammar-specific conditional ("there is" vs "there are") -->
      {{ if (eq .Args.TotalBlockers 1) }}
        <p>
          There is currently <strong>1 open release blocker</strong>
          (<a href='https://{{ .Args.BlockersURL }}'>{{ .Args.BlockersURL }}</a>):
        </p>
      {{ else }}
        <p>
          There are currently <strong>{{ .Args.TotalBlockers }} open release blockers</strong>
          (<a href='https://{{ .Args.BlockersURL }}'>{{ .Args.BlockersURL }}</a>):
        </p>
      {{ end }}
      <ul>
        {{ range .Args.BlockerList }}
          <li>{{ .ProjectName }}: {{ .NumBlockers }}</li>
        {{ end }}
      </ul>
      <p>
        [1] As per our <a href='https://cockroachlabs.atlassian.net/wiki/spaces/ENG/pages/869990521/Release+Process+Terms+and+Definitions'
        >terms & definitions</a>, alphas/betas <strong>should not cause data loss or corruption</strong>,
        but may contain both known and unknown issues including speed or performance issues. As with other alphas:
        <ul>
          <li>there would be no expectation that it would be used in prod or needs to be supported</li>
          <li>alpha clusters must be wiped, and cannot be upgraded to 22.1 betas, RCs or final production release</li>
          <li>alphas/betas may contain both known and unknown issues including speed or performance issues</li>
        </ul>
      </p>
    {{ end }}
    <p>
      Thanks,<br />
      Release Engineering
    </p>
  </body>
</html>
