<html>
<body>
<p>Hello!</p>
<p>
  The <strong>{{ .Args.Version }}</strong> release is scheduled to be <strong>tonight's nightly build, {{ .Args.DayBeforePrepDate }}</strong>.

  {{ if .Template.BackportsUseBackboard }}
    Friendly reminder to merge any outstanding backports (refer to <a
      href='https://backboard.crdb.dev/?branch={{ .Args.ReleaseBranch }}&repo=386372623925772289'
    >backboard</a>).
  {{ end }}
</p>
{{template "blockers" .}}
<p>
  Thanks,<br />
  Release Engineering
</p>
</body>
</html>
