<html>
<body>
<p>Hello!</p>
<p>
  There remains <strong>open release blockers</strong> against the {{ .Args.Version }} release (https://go.crdb.dev/blockers/21.2).
</p>
<p>
  The previous <strong>release date of {{ .Args.ReleaseDate }} has now been cancelled</strong>, as we have passed the default duration needed to qualify the release candidate.
</p>
<p>
  The <strong>new release date for {{ .Args.Version }} is now {{ .Args.NextReleaseDate }}</strong>.
  An extraordinary request would be required to publish a {{ .Args.ReleaseSeries }} release sooner than {{ .Args.NextReleaseDate }}.
</p>
<p>
  Thanks,<br />
  Release Engineering
</p>
</body>
</html>
