name: EXPERIMENTAL GitHub actions testing
on:
  pull_request:
    types: [ opened, reopened, synchronize, edited ]
    branches: [ master ]
concurrency:
  group: ${{ github.event.pull_request.number }}
  cancel-in-progress: true
jobs:
  unit_tests:
    runs-on: [self-hosted, basic_runner_group]
    steps:
      - uses: actions/checkout@v4
        with:
          # By default, checkout merges the PR into the current master.
          # Instead, we want to check out the PR as is.
          ref: ${{ github.event.pull_request.head.sha }}
      - run: ./build/github/get-engflow-keys.sh
      - run: ./build/github/prepare-summarize-build.sh
      - name: run tests
        run: bazel test //pkg:all_tests //pkg/ui:lint //pkg/ui:test --config crosslinux --jobs 300 --remote_download_minimal --bes_keywords=github_pr_number=${{ github.event.pull_request.number }} --bes_keywords ci-unit-test --config=use_ci_timeouts --build_event_binary_file=bes.bin $(./build/github/engflow-args.sh)
      - name: upload test results
        run: ./build/github/summarize-build.sh bes.bin
        if: always()
      - name: clean up
        run: ./build/github/cleanup-engflow-keys.sh
        if: always()
  macos_amd64_build:
    runs-on: [self-hosted, basic_runner_group]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - run: ./build/github/get-engflow-keys.sh
      - run: ./build/github/prepare-summarize-build.sh
      - name: build
        run: bazel build //pkg/cmd/cockroach //pkg/cmd/cockroach-short //pkg/cmd/cockroach-sql //pkg/cmd/cockroach-oss //pkg/cmd/roachprod //pkg/cmd/workload //pkg/cmd/dev //c-deps:libgeos --config crossmacos --jobs 100 --remote_download_minimal --bes_keywords=github_pr_number=${{ github.event.pull_request.number }} --bes_keywords build-macos-amd64 --build_event_binary_file=bes.bin $(./build/github/engflow-args.sh)
      - name: upload build results
        run: ./build/github/summarize-build.sh bes.bin
        if: always()
      - name: clean up
        run: ./build/github/cleanup-engflow-keys.sh
        if: always()
  macos_arm64_build:
    runs-on: [self-hosted, basic_runner_group]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - run: ./build/github/get-engflow-keys.sh
      - run: ./build/github/prepare-summarize-build.sh
      - name: build
        run: bazel build //pkg/cmd/cockroach //pkg/cmd/cockroach-short //pkg/cmd/cockroach-sql //pkg/cmd/cockroach-oss //pkg/cmd/roachprod //pkg/cmd/workload //pkg/cmd/dev //c-deps:libgeos --config crossmacosarm --jobs 100 --remote_download_minimal --bes_keywords=github_pr_number=${{ github.event.pull_request.number }} --bes_keywords build-macos-arm64 --build_event_binary_file=bes.bin $(./build/github/engflow-args.sh)
      - name: upload build results
        run: ./build/github/summarize-build.sh bes.bin
        if: always()
      - name: clean up
        run: ./build/github/cleanup-engflow-keys.sh
        if: always()
  windows_build:
    runs-on: [self-hosted, basic_runner_group]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - run: ./build/github/get-engflow-keys.sh
      - run: ./build/github/prepare-summarize-build.sh
      - name: build
        run: bazel build //pkg/cmd/cockroach //pkg/cmd/cockroach-short //pkg/cmd/cockroach-sql //pkg/cmd/cockroach-oss --config crosswindows --jobs 100 --remote_download_minimal --bes_keywords=github_pr_number=${{ github.event.pull_request.number }} --bes_keywords build-windows --build_event_binary_file=bes.bin --enable_runfiles $(./build/github/engflow-args.sh)
      - name: upload build results
        run: ./build/github/summarize-build.sh bes.bin
        if: always()
      - name: clean up
        run: ./build/github/cleanup-engflow-keys.sh
        if: always()
  acceptance:
    runs-on: [self-hosted, basic_runner_group]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - run: ./build/github/get-engflow-keys.sh
      - run: ./build/github/prepare-summarize-build.sh
      - name: run acceptance tests
        run: ./build/github/acceptance-test.sh
      - name: upload build results
        run: ./build/github/summarize-build.sh bes.bin
        if: always()
      - uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: acceptance artifacts
          path: artifacts
      - name: clean up
        run: ./build/github/cleanup-engflow-keys.sh
        if: always()
  check_generated_code:
    runs-on: [self-hosted, basic_runner_group]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - run: ./build/github/get-engflow-keys.sh
      - name: check generated code
        run: ./build/github/check-generated-code.sh
      - name: clean up
        run: ./build/github/cleanup-engflow-keys.sh
        if: always()
  docker_image_amd64:
    runs-on: [self-hosted, basic_runner_group]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - run: ./build/github/get-engflow-keys.sh
      - run: ./build/github/prepare-summarize-build.sh
      - name: run docker tests
        run: ./build/github/docker-image.sh amd64
      - name: upload build results
        run: ./build/github/summarize-build.sh bes.bin
        if: always()
      - name: clean up
        run: ./build/github/cleanup-engflow-keys.sh
        if: always()
