// Copyright 2020 The Cockroach Authors.
//
// Use of this software is governed by the CockroachDB Software License
// included in the /LICENSE file.

@require '~src/components/core/index.styl'

.email-subscription-form
  display flex
  flex-direction row

  &__input
    margin-right $spacing-smaller
    width 258px

  &__submit-button
    min-width 80px
