@import "../core/index.module";

.crl-modal {
  @include base;
  :global {
    .ant-modal-footer {
      border-top: none;
      padding: 0;
      margin-top: $spacing-large;
    }

    .ant-modal-header {
      margin-bottom: $spacing-medium-small;
    }

    .ant-modal-content {
      padding: $spacing-large;
      box-shadow: 0px 0px 1px rgba(71, 88, 114, 0.47);
      border-radius: 5px;
      min-width: 560px;
    }

    .ant-modal-close {
      top: $spacing-large;
    }
  }

}
