// Copyright 2019 The Cockroach Authors.
//
// Use of this software is governed by the Business Source License
// included in the file licenses/BSL.txt.
//
// As of the Change Date specified in that file, in accordance with
// the Business Source License, use of this software will be governed
// by the Apache License, Version 2.0, included in the file
// licenses/APL.txt.

@require "~styl/base/palette.styl"
@require "~styl/base/layout-vars.styl"

.popover
  position absolute
  z-index $z-index-tooltip
  box-shadow: 0 0 4px 0 $popover-shadow-color
  border-radius 4px
  border: solid 0.5px $popover-border-color
  display none
  background-color white
  right -20px
  top 20px

.popover--visible
  display block

.popover__content
  cursor pointer
